.p-datatable-frozen-tbody {
    font-weight: bold;
}

.p-datatable-scrollable .p-frozen-column {
    font-weight: bold;
}

.background-ban {
    margin: 0px -28px;
    background: linear-gradient(180deg, color-mix(in srgb, var(--primary-color) 30%, transparent), transparent);
    padding: 25px 25px 0;
}

:host ::ng-deep {
    .p-progressbar {
        height: .5rem;
        background-color: #D8DADC;

        .p-progressbar-value {
            background-color: #607D8B;
        }
    }

    input.searchInp {
        height: 40px;
        border: 3px solid #3b82f6;
        border-left: none;
        border-top: none;
        border-right: none;
        /* border-radius: 10px; */
        text-align: left;
        padding: 0 0 0 30px;
        outline: none;
    }

    ::ng-deep .p-dialog-content {
        height: calc(100% - 5rem);
        /* adjust based on your header/footer height */
        overflow: auto;
    }

    .change {
        color: #171515;
        background: #fbfbfb;
        border: 1px solid #ffffff;

    }

    .center-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .custom-text-color {
        color: var(--p-button-primary-background);
    }
}