<div class="branchDetails">
    <h2 class="mb-8 card header-card "
        style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px;"> Branch Details </h2>

    <div class="card" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px;">
        <app-table [tableData]="customers" [cols]="cols" [globalFilterFields]="globalFilterFields"
            (editEvent)="editFunction($event, 'edit')" (viewEvent)="editFunction($event , 'view')">
        </app-table>
    </div>
    <!-- ADD POPUP -->
    <p-dialog [modal]="true" [(visible)]="edit_visible" [style]="{ width: '50rem' }" [closable]="false"
        class="EDIT_BRANCH_DIALOG">
        <ng-template pTemplate="header">
            <div class="flex justify-between items-center w-full">
                <span class="text-lg font-semibold custom-text-color">
                    {{tpCheck == true ? 'View Your Details':'Edit Your Details'}}
                </span>
                <button pButton icon="pi pi-times" class="change hovBut p-button-sm"
                    (click)="edit_visible = false"></button>
            </div>
        </ng-template>

        <div class="grid grid-cols-2 gap-4 mt-6">
            <div class="flex flex-col gap-2">
                <label for="username">LowerCase Alphabet Allowed *</label>
                <!-- <input pInputText [(ngModel)]="Edit_data.INSTID" type="text" placeholder="czxczxczcx" /> -->
                <p-select [options]="cities" [(ngModel)]="Edit_data.loweCase" optionLabel="name" placeholder="Select"
                    appendTo="body" />

            </div>
            <div class="flex flex-col gap-2">
                <label for="username">UpperCase Alphabet Allowed *</label>
                <p-select [options]="cities" [(ngModel)]="Edit_data.upperCase" optionLabel="name" placeholder="Select"
                    appendTo="body" />
            </div>
            <div class="flex flex-col gap-2">
                <label for="username">Numbers *</label>
                <p-select [options]="cities" [(ngModel)]="Edit_data.numbers" optionLabel="name" placeholder="Select"
                    appendTo="body" />
            </div>
            <div class="flex flex-col gap-2">
                <label for="username">Special Char*</label>
                <p-select [options]="cities" [(ngModel)]="Edit_data.special" optionLabel="name" placeholder="Select"
                    appendTo="body" />
            </div>
            <div class="flex flex-col gap-2">
                <label for="username">Password Expiry Period *</label>
                <p-select [options]="cities" [(ngModel)]="Edit_data.pwdExpPeriod" optionLabel="name"
                    placeholder="Select" appendTo="body" />
            </div>
            <div class="flex flex-col gap-2">
                <label for="username">Total Count *</label>
                <p-select [options]="cities" [(ngModel)]="Edit_data.totalCount" optionLabel="name" placeholder="Select"
                    appendTo="body" />
            </div>
        </div>

        <div class="flex justify-end gap-2 mt-4">
            <p-button label="Cancel" severity="secondary" (click)="edit_visible = false" />
            <p-button label="Save" (click)="edit_visible = false" />
        </div>
    </p-dialog>
</div>