<div class="auth-branch col-span-12 xl:col-span-12">
    <h2 class="mb-8 card header-card "
        style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px;"> Branch Details </h2>
    <div class="card !mb-4">

        <div class="flex flex-wrap justify-between">
            <div class="flex gap-2 items-center mb-4">
                <p-button icon="pi pi-arrow-left" (onClick)="goBack()" styleClass="p-button-text"
                    class="backIcon"></p-button>
                <div class="font-semibold text-xl heading-color">
                    {{header}}
                </div>
            </div>
        </div>

        <app-table [tableData]="branchData" [cols]="cols" [globalFilterFields]="globalFilterFields" [multipleButton]=""
            (viewEvent)="editFunction($event , 'view')" (deleteEvent)="example($event)" />

        <p-dialog [(visible)]="edit_visible" [modal]="true" [style]="{ width: '50rem' }" [closable]="false"
            class="EDIT_BRANCH_DIALOG">
            <ng-template pTemplate="header">
                <div class="flex justify-between items-center w-full">
                    <span class="text-lg font-semibold custom-text-color">
                        View Your Details
                    </span>
                    <button pButton icon="pi pi-times" class="change hovBut p-button-sm"
                        (click)="edit_visible = false"></button>
                </div>
            </ng-template>

            <!-- Table-like layout  -->
            <div *ngIf="Edit_data">
                <div class="table-row">
                    <div class="table-cell heading">INST ID</div>
                    <input class="table-cell value" pInputText [(ngModel)]="Edit_data.institutionId" type="text"
                        placeholder="" [disabled]="true" />
                </div>
                <div class="table-row">
                    <div class="table-cell heading">Branch Id</div>
                    <input class="table-cell value" pInputText [(ngModel)]="Edit_data.branchCode" type="text"
                        placeholder="" [disabled]="true" />

                </div>
                <div class="table-row">
                    <div class="table-cell heading">Branch Map Code</div>
                    <input class="table-cell value" pInputText [(ngModel)]="Edit_data.branchMapCode" type="text"
                        placeholder="" [disabled]="true" />

                </div>
                <div class="table-row">
                    <div class="table-cell heading">Branch Name</div>
                    <input class="table-cell value" pInputText [(ngModel)]="Edit_data.branchName" type="text"
                        placeholder="" [disabled]="true" maxlength="5" />

                </div>
            </div>
            <div *ngIf="routeData.type == 'auth'" class="flex justify-end gap-2 mt-4">
                <p-button label="Authorized ADD Profile" severity="primary" raised (click)="Authorized('authorize')"
                    icon="pi pi-file-check" />
                <p-button label="Reject" severity="primary" outlined raised (onClick)="Authorized('reject')"
                    icon="pi pi-file-excel" />
            </div>
            <div *ngIf="routeData.type == 'deleteAuth'" class="flex justify-end gap-2 mt-4">
                <p-button label="Authorized Profile" severity="primary" raised
                    (onClick)="Authorized('deleteProfileAuth')" icon="pi pi-file-check" />
                <p-button label="Reject" severity="primary" outlined raised
                    (onClick)="Authorized('deleteProfileDeAuth')" icon="pi pi-file-excel" />
            </div>
            <div *ngIf="routeData.type == 'edit'" class="flex justify-end gap-2 mt-4">
                <p-button label="Authorized Profile" severity="primary" raised (onClick)="Authorized('editProfileAuth')"
                    icon="pi pi-file-check" />
                <p-button label="Reject" severity="primary" outlined raised (onClick)="Authorized('editProfileDeAuth')"
                    icon="pi pi-file-excel" />
            </div>
        </p-dialog>

        <p-dialog [modal]="true" [(visible)]="delete_visible" [closable]="false" [style]="{ width: '25rem' }">
            <ng-template pTemplate="header">
                <div class="flex justify-between items-center w-full">
                    <span class="text-lg font-semibold custom-text-color">
                        Confirm Deletion
                    </span>
                    <button pButton icon="pi pi-times" severity="secondary" class="change p-button-sm"
                        (click)="delete_visible = false"></button>
                </div>
            </ng-template>
            <div class="p-text-secondary mb-4 font-bold text-lg tracking-wide">
                Are you sure you want to delete?
            </div>
            <div class=" mb-4 text-base tracking-wide"> * This action cannot be undone.</div>
            <div class="flex justify-end gap-2">
                <p-button label="No" severity="secondary" (onClick)="Authorized('deleteProfileDeAuth')" />
                <p-button label="Yes, Delete" severity="danger" (onClick)="Authorized('deleteProfileAuth')" />
            </div>
        </p-dialog>
    </div>
</div>