::ng-deep {
    .add-atm-controller {
        .heading-color {
            color: var(--primary-color);
        }

        .backIcon {
            span.pi.pi-arrow-left.p-button-icon {
                font-size: 18px;
                color: black;
                font-weight: bold;
            }
        }

        .p-inputgroup:has(> p-button:first-child) .p-button {
            border-radius: 0;
            border-start-start-radius: var(--p-inputgroup-addon-border-radius);
            border-end-start-radius: var(--p-inputgroup-addon-border-radius);
        }

        

        .atm-select.p-selectbutton {
            align-items: center;
            .p-togglebutton-content {
            height: 40px;
            width: 125px;
            border-radius: 10px !important;
        } 
         .p-togglebutton-checked .p-togglebutton-content{
            background:var(--primary-color);
            color: #fff;
        }
        }

        .p-datatable-gridlines .p-datatable-thead > tr > th {
            background: var(--primary-color);
            color: white;
        }

        .p-datatable-gridlines .p-datatable-thead > tr > th:first-child {
            text-align: center;
        }

        .p-datatable-gridlines .p-datatable-tbody > tr > td:first-child{
            text-align: center;
        }
        .tableForm_Atm{
            .p-inputtext {
                width: 25vw;
            }
        }

        @media (max-width: 600px) {
            .atm-select.p-selectbutton {
                flex-direction: column; // stack items vertically if needed
                align-items: stretch;
            }
        }
    }
}