.atmDetails {
    .p-datatable-frozen-tbody {
        font-weight: bold;
    }

    .p-datatable-scrollable .p-frozen-column {
        font-weight: bold;
    }

    .background-ban {
        margin: 0px -28px;
        background: linear-gradient(180deg, color-mix(in srgb, var(--primary-color) 30%, transparent), transparent);
        padding: 25px 25px 0;
    }

 
}

:host ::ng-deep {
    .atmDetails {

        .p-progressbar {
            height: .5rem;
            background-color: #D8DADC;

            .p-progressbar-value {
                background-color: #607D8B;
            }
        }

      
    }
}