.atmDetails {
    .p-datatable-frozen-tbody {
        font-weight: bold;
    }

    .p-datatable-scrollable .p-frozen-column {
        font-weight: bold;
    }

    .background-ban {
        margin: 0px -28px;
        background: linear-gradient(180deg, color-mix(in srgb, var(--primary-color) 30%, transparent), transparent);
        padding: 25px 25px 0;
    }

    th {
        color: var(--primary-color) !important;
        font-weight: bold !important;
        height: 60px !important;
    }
}

:host ::ng-deep {
    .atmDetails {

        .p-progressbar {
            height: .5rem;
            background-color: #D8DADC;

            .p-progressbar-value {
                background-color: #607D8B;
            }
        }

        input.searchInp {
            height: 40px;
            border: 3px solid #3b82f6;
            border-left: none;
            border-top: none;
            border-right: none;
            /* border-radius: 10px; */
            text-align: left;
            padding: 0 0 0 30px;
            outline: none;
        }
    }
}