::ng-deep {
    .edit-password {
        .heading-color {
            color: var(--primary-color);
            font-weight: bold;
            letter-spacing: .5px;
        }

        .card{
            background: transparent !important;
        }

        .p-floatlabel {
            display: flex;
        }

        .p-inputtext {
            height: 40px;
            width: 100%;
        }

        .ng-invalid.ng-touched {
            border-color: red;
        }

        .p-inputtext:disabled {
            background: #e2e8f047;
        }

        .p-password {
            width: 100%;
        }
    }
}