<div class="edit-password col-span-12 xl:col-span-12">
  <h2 class="mb-8">Change Password</h2>
  <div class="card mb-4">
    <form [formGroup]="PasswordForm" (ngSubmit)="onSubmit()">
      <div class="flex justify-between">
        <div class="flex gap-2 items-center mb-8">
          <div class="font-semibold text-xl heading-color">Change Password</div>
        </div>
      </div>

      <div class="mx-4 mt-8 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 items-end">

        <!-- Current Password -->
        <p-floatlabel variant="on">
          <p-password 
            id="CurrentPassword" 
            formControlName="CurrentPassword" 
            [toggleMask]="true" 
            [feedback]="false"
            class="w-full" >
          </p-password>
          <label for="CurrentPassword">Current Password <span class="text-red-500">*</span></label>
        </p-floatlabel>

      </div>

      <div class="mx-4 mt-8 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 items-end">

        <!-- New Password -->
        <p-floatlabel variant="on">
          <p-password 
            id="NewPassword" 
            formControlName="NewPassword" 
            [toggleMask]="true" 
            [feedback]="true" 
           class="w-full" 
            >
          </p-password>
          <label for="NewPassword">New Password <span class="text-red-500">*</span></label>
        </p-floatlabel>

        <!-- Confirm Password -->
        <p-floatlabel variant="on">
          <p-password 
            id="ConfirmPassword" 
            formControlName="ConfirmPassword" 
            [toggleMask]="true" 
            [feedback]="true" 
           class="w-full" 
           >
          </p-password>
          <label for="ConfirmPassword">Confirm Password <span class="text-red-500">*</span></label>
        </p-floatlabel>

      </div>

      <div class="flex flex-row-reverse my-8 mx-4">
        <p-button label="Update" severity="primary" raised icon="pi pi-save" type="submit" />
      </div>
    </form>
  </div>
</div>
