<div class="add-cardCtry col-span-12 xl:col-span-12">
    <h2 class="mb-8">TXN Allowed Cards Details</h2>
    <div class="card !mb-4">
        <form [formGroup]="cardCtryForm">
            <div class="flex flex-wrap justify-between mb-4">
                <div class="flex gap-2 items-center mb-8">
                    <p-button icon="pi pi-arrow-left" (onClick)="goBack()" styleClass="p-button-text"
                        class="backIcon"></p-button>
                    <div class="font-semibold text-xl heading-color">
                        Add Card Details
                    </div>
                </div>
            </div> 
            <div class="mx-4 mb-4 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-2 gap-8 items-end ">
                   
                    <p-floatlabel variant="on">
    
                        <input pInputText styleClass="w-full" id="INSTID" formControlName="INSTID" type="text" />
                        <label for="INSTID">Institution Id <span style="color: red; font-size: 16px;">*</span> </label>
                    </p-floatlabel>
                    <p-floatlabel variant="on">
    
                        <input pInputText styleClass="w-full" id="CardNo" formControlName="CardNo" type="text" />
                        <label for="CardNo">Enter Card Number To Allow Txn For Risk Country  <span style="color: red; font-size: 16px;">*</span> </label>
                    </p-floatlabel>
                      <p-floatlabel variant="on">

                    <p-select [options]="countryOpt" formControlName="BlockedCountry" optionValue="BLOCKEDCOUNTRYCODE" optionLabel="COUNTRYDESC"
                        inputId="BlockedCountry" styleClass="w-full" />
                    <label for="BlockedCountry">Blocked Country Code <span style="color: red;font-size: 16px;">*</span></label>
                </p-floatlabel>
                      <p-floatlabel variant="on">
                    <p-datepicker selectionMode="range" inputId="FromToDate" styleClass="w-full" showIcon iconDisplay="input"
                        formControlName="FromToDate" />
                    <label for="FromToDate">From Date - To Date <span style="color: red;font-size: 16px;">*</span></label>
                </p-floatlabel>
                </div>
                <div class="flex flex-row-reverse mx-4 my-8">
                    <p-button label="Save" severity="primary" raised icon="pi pi-save" (click)="onSubmit()" />
                </div>
        </form>
    </div>
</div>
                