<!-- Header Section with Background and Title -->
<div class="" style="display: flex; justify-content: flex-start; align-items: center; margin-bottom: 20px;">
    <h2 style="margin: 0;">Institution Details</h2>
</div>

<!-- Card and Table -->
<div class="card" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px;">
    <p-table [value]="customers" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[10,15,20]">
        <ng-template #caption>
            <div class="flex w-full align-items-center gap-2 justify-content-between ">
                <p-button label="Add" [outlined]="true" icon="pi pi-plus" />
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" class="searchInp mr-1" placeholder="Search keyword" />
                    <button pButton type="button" icon="pi pi-search" class="p-button-sm mr-2" pTooltip="Search"
                        tooltipPosition="top"></button>
                    <button pButton type="button" icon="pi pi-times" class="p-button-sm" pTooltip="Clear"
                        tooltipPosition="top"></button>

                </p-iconfield>

                <!-- <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" /> -->

            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th>
                    Institution ID</th>
                <th>Institution Name</th>
                <th>Institution Route Type</th>
                <th>Institution Type</th>
                <th>Insitution Currency Code</th>
                <th>Max ATM Pin Tries Cnt</th>

            </tr>
        </ng-template>
        <ng-template #body let-customer>
            <tr>
                <td>{{ customer.INSTID }}</td>
                <td>{{ customer.INSTNAME }}</td>
                <td>{{ customer.INSTROUTETYPE }}</td>
                <td>{{ customer.INSTTYPE }}</td>
                <td>{{ customer.INSTCURRENCYCODE }}</td>
                <td>{{ customer.MAXATMPINCOUNT }}</td>

            </tr>
        </ng-template>
    </p-table>
</div>