<div class="atm-Monitoring">
    <h2 class="mb-8">TXN Monitoring</h2>

    <div class="card" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px;">

        <div class="image-containor gap-4">
            <img src="../../../../assets/images/monitoring.png" alt="">
            <div class="flex gap-4 atm-btn">
                <p-button label="Transaction Monitor From DB" icon="pi pi-save" (click)="openWindow()"
                    />
                <p-button label="Graph" icon="pi pi-save"  (click)="graphOpenWindow()" />
            </div>
        </div>


    </div>
</div>