<p-table [value]="tableData" [paginator]="true" [rows]="10" scrollable="true" scrollHeight="flex" scrollDirection="both"
    [columns]="cols" [globalFilterFields]="globalFilterFields" [rowsPerPageOptions]="[10,15,20]" sortMode="multiple"
    [customSort]="true" (sortFunction)="customSort($event)" [paginator]="paginator"
    [tableStyle]="{ 'min-width': '900px' }" class="mainTable" #dt2 tableStyleClass="p-datatable-scrollable"
    size="small">

    <ng-template #caption>
        <div class="flex flex-wrap justify-between mb-4">
            <div>
                <p-button class="mr-2" *ngIf="addButton" [label]="addButton" icon="pi pi-plus" (click)="add($event)" />
                <p-button class="mr-2" *ngIf="updateButton" [label]="updateButton" icon="pi pi-pencil"
                    (click)="add($event)" />
                <div *ngIf="multipleButton?.length > 0" class="multiBtn">
                    <div *ngFor="let btn of multipleButton">
                        <p-button [label]="btn?.label" [icon]="btn?.icon" class="mr-2"
                            (click)="otherEvents(btn?.data??'',$event,btn?.type)" [variant]="btn?.variant" [severity]="btn?.severity" />
                    </div>
                </div>
            </div>

            <div class="flex items-center" *ngIf="globalFilterFields?.length > 0">

                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" class="searchInp" [(ngModel)]="search"
                        (input)="onGlobalFilter($event, dt2)" placeholder="Search keyword" />
                </p-iconfield>
                <div class="w-8 h-4 text-center align-middle cursor-pointer" pTooltip="Clear" tooltipPosition="top"
                    (click)="clear(dt2)">X
                </div>
            </div>

        </div>
    </ng-template>
    <ng-template #header let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.sort ? col.field : null"
                [ngStyle]="col.header != 'Select' ? {'text-align': 'left'} : {'text-align': 'center'}"
                style="padding-left: 10px;" [style.min-width.px]="135">
                <span>{{ col.header }}</span>
                <span> 
                    <p-sortIcon [ngStyle]="{'margin-left': '5px'}" *ngIf="col.sort"[field]="col.field"></p-sortIcon>
                </span>

            </th>
        </tr>
    </ng-template>

    <ng-template #body let-row let-columns="columns">
        <tr>
            <td *ngFor="let col of columns"
                [ngStyle]="col.header != 'Select' ? {'text-align': 'left'} : {'text-align': 'center'}"
                style="height: 35px; padding-left: 10px;">
                <span *ngIf="col.header != 'Action' && col.header != 'Select'">{{ row[col.field] }}</span>
                <span *ngIf="col.header === 'Select'">
                    <p-checkbox [binary]="true" [value]="row.selected"
                        (onChange)="emitRowSelection(row, $event)"></p-checkbox>
                </span>
                <span class="flex gap-2 center-button" *ngIf="col.header === 'Action'">
                    <p-button *ngIf="col.type?.includes('add')" text severity="primary" class=" p-button-icon-only"
                        pTooltip="Add" tooltipPosition="top" icon="pi pi-plus" (click)="add($event)" />
                    <p-button *ngIf="col.type?.includes('view')" text severity="primary" class=" p-button-icon-only"
                        pTooltip="View" tooltipPosition="top" icon="pi pi-eye" (click)="view(row,$event)" />
                    <p-button *ngIf="col.type?.includes('edit')" text severity="primary" class=" p-button-icon-only"
                        pTooltip="Edit" tooltipPosition="top" icon="pi pi-pencil" (click)="edit(row,$event)" />
                    <p-button *ngIf="col.type?.includes('delete')" text severity="danger" class=" p-button-icon-only"
                        pTooltip="Delete" tooltipPosition="top" icon="pi pi-trash" (click)="delete(row,$event)" />
                </span>
            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr class="nodata">
            <td [attr.colspan]="cols.length + 1" class="nodata-text">No Data found.</td>
        </tr>
    </ng-template>
</p-table>