::ng-deep {
    .mainTable {
        th {
            color: var(--primary-color) !important;
            font-weight: bold !important;
            height: 50px !important;
            font-size: 16px;
        }

        input.searchInp {
            height: 40px;
            border: 2px solid var(--primary-color);
            border-left: none;
            border-top: none;
            border-right: none;
            border-radius: 6px;
            text-align: left;
            padding: 0 0 0 30px;
            outline: none;
        }

        .buttonSet {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 5px;
        }

        .p-datatable-thead>tr>th {
            border-color: var(--primary-color);
            border-style: solid;
            border-width: 0 0 2px 0;
        }

        .nodata {
            position: relative;
            height: 15vh;

            td.nodata-text {
                position: absolute !important;
                top: 35% !important;
                left: 45% !important;
                font-size: 16px;
                color: var(--primary-color);
                padding: 0;
                border: none !important;
            }
        }

        .multiBtn {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 5px;
        }

    }

    .p-progressspinner-circle {
        stroke: var(--primary-color) !important;

    }

    .loader {
        justify-content: center;
        height: 50vh;
        align-items: center;
    }

}