<div class="fraud-Monitoring-details p-8">
    <div style="text-align: center;margin-bottom: 20px;">
        <h2 class="mb-8 card header-card "
            style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px;">Fraud Monitoring</h2>
    </div>

    <div class="card" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px;">
        <p-tabs value="0" scrollable>
            <p-tablist>
                <p-tab (click)="func()" value="0" class="all">
                    <i class="pi pi-th-large" style="color: #2196f3;"></i>&nbsp;&nbsp;All
                </p-tab>
                <p-tab (click)="func()" value="1" class="blocked">
                    <i class="pi pi-ban" style="color: #e53935;"></i>&nbsp;&nbsp;Blocked Countries&nbsp; <span
                        class="count">{{dataset.countryBlock.length}}</span>
                </p-tab>
                <p-tab (click)="func()" value="2" class="risk">
                    <i class="pi pi-shield" style="color: #ff9800;"></i>&nbsp;&nbsp;Allowed Card in Risk Countries&nbsp;
                    <span class="count">{{dataset.cardblock.length}}</span>
                </p-tab>
                <p-tab (click)="func()" value="3" class="ecom">
                    <i class="pi pi-globe" style="color: #fbc02d;"></i>&nbsp;&nbsp;Ecom Site Block&nbsp; <span
                        class="count">{{dataset.locblock.length}}</span>
                </p-tab>
                <p-tab (click)="func()" value="4" class="mcc">
                    <i class="pi pi-lock" style="color: #9e9e9e;"></i>&nbsp;&nbsp;Blocked MCC&nbsp; <span
                        class="count">{{dataset.mccblock.length}}</span>
                </p-tab>
                <p-tab (click)="func()" value="5" class="allowedmcc">
                    <i class="pi pi-credit-card" style="color: #4caf50;"></i>&nbsp;&nbsp;Card Allowed in Blocked
                    MCC&nbsp;
                    <span class="count">{{dataset.mccallowed.length}}</span>
                </p-tab>
            </p-tablist>

            <p-tabpanels>
                <p-tabpanel value="0">
                    <div class="flex gap-2 flex-wrap justify-between items-center my-8">
                        <div class="font-semibold text-xl heading-color">
                            All Details
                        </div>
                    </div>
                    <div class="status-legend" style="margin-top: 15px;">
                        <div class="legend-item" style="color: #e53935;">
                            <i class="pi pi-ban"></i>&nbsp;&nbsp;Blocked Countries details
                        </div>
                    </div>
                    <div class="flex flex-wrap">
                        <div *ngFor="let atm of dataset.countryBlock">
                            <div>
                                <!-- (click)="showDialog(atm)" -->
                                <div class="atm-box color-Blocked-Countries"
                                    (click)="countryBlockfunc();showDialog(atm.BLOCKEDCOUNTRYCODE)">
                                    <img src="assets/images/sanctions.png" alt="">
                                    <div><i class="pi pi-ban" style="color: #e53935 ;"></i>&nbsp;&nbsp; {{
                                        atm.BLOCKEDCOUNTRYCODE }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="status-legend" style="margin-top: 15px;">
                        <div class="legend-item" style="color: #ff9800;">
                            <i class="pi pi-shield"></i>&nbsp;&nbsp;Allowed card in risk countries Details
                        </div>
                    </div>
                    <div class="flex flex-wrap">
                        <div *ngFor="let atm of dataset.cardblock">
                            <div>
                                <!-- (click)="showDialog(atm)" -->
                                <div class="atm-box color-cardblock" (click)="cardblockfunc();showDialog(atm.MCARD_NO)">
                                    <img src="assets/images/credit.png" alt="">
                                    <div><i class="pi pi-shield" style="color: #ff9800 ;"></i>&nbsp;&nbsp; {{
                                        atm.MCARD_NO }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="status-legend" style="margin-top: 15px;">
                        <div class="legend-item" style="color: #b1871f;">
                            <i class="pi pi-globe"></i>&nbsp;&nbsp;Ecom Site Block Details
                        </div>
                    </div>
                    <div class="flex flex-wrap">
                        <div *ngFor="let atm of dataset.locblock">
                            <div>
                                <!-- (click)="showDialog(atm)" -->
                                <div class="atm-box color-locblock"
                                    (click)="locblockfunc();showDialog(atm.BLOCKEDMERCHANTLOCATION)">
                                    <img src="assets/images/block.png" alt="">
                                    <div><i class="pi pi-globe" style="color: #fbc02d ;"></i>&nbsp;&nbsp; {{
                                        atm.BLOCKEDMERCHANTLOCATION }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="status-legend" style="margin-top: 15px;">
                        <div class="legend-item" style="color: #9e9e9e;">
                            <i class="pi pi-lock"></i>&nbsp;&nbsp;Blocked MCC Details
                        </div>
                    </div>
                    <div class="flex flex-wrap">
                        <div *ngFor="let atm of dataset.mccblock">
                            <div>
                                <!-- (click)="showDialog(atm)" -->
                                <div class="atm-box color-mccblock"
                                    (click)="mccblockfunc();showDialog(atm.BLOCKEDMERCHANTCODE)">
                                    <img src="assets/images/user block.png" alt="">
                                    <div><i class="pi pi-lock" style="color: #9e9e9e ;"></i>&nbsp;&nbsp; {{
                                        atm.BLOCKEDMERCHANTCODE }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="status-legend" style="margin-top: 15px;">
                        <div class="legend-item" style="color: #4caf50;">
                            <i class="pi pi-credit-card"></i>&nbsp;&nbsp;Card Allowed in blocked MCC Details
                        </div>
                    </div>
                    <div class="flex flex-wrap">
                        <div *ngFor="let atm of dataset.mccallowed">
                            <div>
                                <!-- (click)="showDialog(atm)" -->
                                <div class="atm-box color-mccallowed" (click)="mccallowedfunc();showDialog(atm.CHN)">
                                    <img src="assets/images/user verify.png" alt="">
                                    <div><i class="pi pi-credit-card" style="color: #4caf50 ;"></i>&nbsp;&nbsp; {{
                                        atm.CHN }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-tabpanel>
                <p-tabpanel value="1">
                    <div class="flex gap-2 flex-wrap justify-between items-center my-8">
                        <div class="font-semibold text-xl heading-color">
                            Blocked Countries
                        </div>
                        <div class="p-inputgroup mb-3">
                            <span class="p-inputgroup-addon mx-4"><i
                                    class="pi pi-search"></i>&nbsp;&nbsp;Search&nbsp;:</span>
                            <input type="text" pInputText placeholder="Search ATM by name" class="searchInp"
                                [(ngModel)]="searchTerm" />
                        </div>
                    </div>
                    <div class="status-legend">
                        <div class="legend-item" style="color: #e53935;">
                            <i class="pi pi-ban"></i>&nbsp;&nbsp;Blocked Countries details
                        </div>
                    </div>
                    <div class="flex flex-wrap">
                        <div *ngFor="let atm of getFilteredData(dataset.countryBlock)">
                            <div>
                                <!-- (click)="showDialog(atm)" -->
                                <div class="atm-box color-Blocked-Countries"
                                    (click)="countryBlockfunc();showDialog(atm.BLOCKEDCOUNTRYCODE)">
                                    <img src="assets/images/sanctions.png" alt="">
                                    <div><i class="pi pi-ban" style="color: #e53935 ;"></i>&nbsp;&nbsp; {{
                                        atm.BLOCKEDCOUNTRYCODE }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-tabpanel>
                <p-tabpanel value="2">
                    <div class="flex gap-2 flex-wrap justify-between items-center my-8">
                        <div class="font-semibold text-xl heading-color">
                            Allowed card in risk countries
                        </div>
                        <div class="p-inputgroup mb-3">
                            <span class="p-inputgroup-addon mx-4"><i
                                    class="pi pi-search"></i>&nbsp;&nbsp;Search&nbsp;:</span>
                            <input type="text" pInputText placeholder="Search ATM by name" class="searchInp"
                                [(ngModel)]="searchTerm" />
                        </div>
                    </div>
                    <div class="status-legend">
                        <div class="legend-item" style="color: #ff9800;">
                            <i class="pi pi-shield"></i>&nbsp;&nbsp;Allowed card in risk countries Details
                        </div>
                    </div>
                    <div class="flex flex-wrap">
                        <div *ngFor="let atm of getFilteredData(dataset.cardblock)">
                            <div>
                                <!-- (click)="showDialog(atm)" -->
                                <div class="atm-box color-cardblock" (click)="cardblockfunc();showDialog(atm.MCARD_NO)">
                                    <img src="assets/images/credit.png" alt="">
                                    <div><i class="pi pi-shield" style="color: #ff9800 ;"></i>&nbsp;&nbsp; {{
                                        atm.MCARD_NO }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-tabpanel>
                <p-tabpanel value="3">
                    <div class="flex gap-2 flex-wrap justify-between items-center my-8">
                        <div class="font-semibold text-xl heading-color">
                            Ecom Site Block
                        </div>
                        <div class="p-inputgroup mb-3">
                            <span class="p-inputgroup-addon mx-4"><i
                                    class="pi pi-search"></i>&nbsp;&nbsp;Search&nbsp;:</span>
                            <input type="text" pInputText placeholder="Search ATM by name" class="searchInp"
                                [(ngModel)]="searchTerm" />
                        </div>
                    </div>
                    <div class="status-legend">
                        <div class="legend-item" style="color: #b1871f;">
                            <i class="pi pi-globe"></i>&nbsp;&nbsp;Ecom Site Block Details
                        </div>
                    </div>
                    <div class="flex flex-wrap">
                        <div *ngFor="let atm of getFilteredData(dataset.locblock)">
                            <div>
                                <!-- (click)="showDialog(atm)" -->
                                <div class="atm-box color-locblock"
                                    (click)="locblockfunc();showDialog(atm.BLOCKEDMERCHANTLOCATION)">
                                    <img src="assets/images/block.png" alt="">
                                    <div><i class="pi pi-globe" style="color: #fbc02d ;"></i>&nbsp;&nbsp; {{
                                        atm.BLOCKEDMERCHANTLOCATION }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-tabpanel>
                <p-tabpanel value="4">
                    <div class="flex gap-2 flex-wrap justify-between items-center my-8">
                        <div class="font-semibold text-xl heading-color">
                            Blocked MCC
                        </div>
                        <div class="p-inputgroup mb-3">
                            <span class="p-inputgroup-addon mx-4"><i
                                    class="pi pi-search"></i>&nbsp;&nbsp;Search&nbsp;:</span>
                            <input type="text" pInputText placeholder="Search ATM by name" class="searchInp"
                                [(ngModel)]="searchTerm" />
                        </div>
                    </div>
                    <div class="status-legend">
                        <div class="legend-item" style="color: #9e9e9e;">
                            <i class="pi pi-lock"></i>&nbsp;&nbsp;Blocked MCC Details
                        </div>
                    </div>
                    <div class="flex flex-wrap">
                        <div *ngFor="let atm of getFilteredData(dataset.mccblock)">
                            <div>
                                <!-- (click)="showDialog(atm)" -->
                                <div class="atm-box color-mccblock"
                                    (click)="mccblockfunc();showDialog(atm.BLOCKEDMERCHANTCODE)">
                                    <img src="assets/images/user block.png" alt="">
                                    <div><i class="pi pi-lock" style="color: #9e9e9e ;"></i>&nbsp;&nbsp; {{
                                        atm.BLOCKEDMERCHANTCODE }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-tabpanel>
                <p-tabpanel value="5">
                    <div class="flex gap-2 flex-wrap justify-between items-center my-8">
                        <div class="font-semibold text-xl heading-color">
                            Card Allowed in blocked MCC
                        </div>
                        <div class="p-inputgroup mb-3">
                            <span class="p-inputgroup-addon mx-4"><i
                                    class="pi pi-search"></i>&nbsp;&nbsp;Search&nbsp;:</span>
                            <input type="text" pInputText placeholder="Search ATM by name" class="searchInp"
                                [(ngModel)]="searchTerm" />
                        </div>
                    </div>
                    <div class="status-legend">
                        <div class="legend-item" style="color: #4caf50;">
                            <i class="pi pi-credit-card"></i>&nbsp;&nbsp;Card Allowed in blocked MCC Details
                        </div>
                    </div>
                    <div class="flex flex-wrap">
                        <div *ngFor="let atm of getFilteredData(dataset.mccallowed)">
                            <div>
                                <!-- (click)="showDialog(atm)" -->
                                <div class="atm-box color-mccallowed" (click)="mccallowedfunc();showDialog(atm.CHN)">
                                    <img src="assets/images/user verify.png" alt="">
                                    <div><i class="pi pi-credit-card" style="color: #4caf50 ;"></i>&nbsp;&nbsp; {{
                                        atm.CHN }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>

    </div>
    <p-dialog [header]="headerDia" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" class="fraud-dialog">
        <div *ngFor="let item of data" class="fraud-dialog-card">
            <div *ngFor="let key of objectKeys(item)" class="fraud-dialog-row">
                <div class="fraud-dialog-key">{{ formatKey(key) }}</div>
                <div class="fraud-dialog-value p-inputtext p-disabled">
                    {{ item[key] }}
                </div>
            </div>
        </div>
    </p-dialog>

</div>