::ng-deep {
    .p-tablist-tab-list {
        gap: 5em;
    }

    .p-tabs {
        width: 100%;
    }

    .p-tablist-content {
        margin-left: 65px;
        /* display: flex; */
        /* align-content: stretch; */
    }

}