<div class="trnxMonitor flex justify-around ">
    <h2 class="mb-8">Control Monitoring</h2>
</div>
<div class="card" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px;">

    <div class="flex justify-center gap-4">
        <p-button label="ATM Monitoring" icon="pi pi-save" class="atm-btn" />
        <p-button label="ATM Monitoring" icon="pi pi-save" class="atm-btn" />
        <p-button label="ATM Monitoring" icon="pi pi-save" class="atm-btn" />
        <p-button label="ATM Monitoring" icon="pi pi-save" class="atm-btn" />

    </div>
</div>