<div class="trnxMonitor flex justify-around " style="margin: 10px;">
    <div style="text-align: center;margin-bottom: 20px;width: 100%;">
        <h2 class="mb-8 card header-card "
            style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px;">Control Monitoring</h2>
    </div>
</div>
<div class="card" style="margin: 10px;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px;">
    <div class="flex justify-center gap-4">
        <p-tabView [(activeIndex)]="default">
            <p-tabPanel header="Network Monitor Details">
                <app-network-monitoring [minimalView1]="true"></app-network-monitoring>
            </p-tabPanel>
            <p-tabPanel header="Task Manager Details">
                <app-task-manager [minimalView]="true"></app-task-manager>
            </p-tabPanel>
            <p-tabPanel header="Port Manager Details">
                <app-port-manager [minimalView]="true"></app-port-manager>
            </p-tabPanel>
            <p-tabPanel header="Network Control Details">
                <app-network-control [minimalView]="true"></app-network-control>
            </p-tabPanel>
            <p-tabPanel header="HSM Monitoring Details">
                <app-hsm-monitoring [minimalView]="true"></app-hsm-monitoring>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>