<div class="search-txn">
    <!-- Header Section with Background and Title -->
   <h2 class="mb-8 card header-card " style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px;"> Transaction Search Details</h2>
   
    <!-- <div class="card">
    <div class="grid grid-cols-3 gap-4">
        <div class="flex-auto">
            <label for="icondisplay" class="font-bold block mb-2"> From Date* </label>
            <p-calendar [(ngModel)]="date2" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" />
        </div>
        <div>
            <div class="flex-auto">
                <label for="icondisplay" class="font-bold block mb-2"> TO Date* </label>
                <p-calendar [(ngModel)]="date" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" />
            </div>
        </div>
        <div>
            <label class="font-bold block mb-2">Criteria*</label>
            <div class="flex  items-start gap-4">
                <p-speeddial [model]="[]" [visible]="isSpeedDialOpen" direction="right" (onClick)="toggleRadioContent()"
                    [showIcon]="'pi pi-plus'" [hideIcon]="'pi pi-times'"
                    [style]="{ 'justify-content': 'flex-start' }"></p-speeddial>

                <div *ngIf="showRadioOptions" class="flex gap-4 items-center">
                    <div class="flex items-center gap-2">
                        <p-radiobutton name="criteria" value="RefNum" [(ngModel)]="ingredient" inputId="ingredient1" />
                        <label for="ingredient1">RefNum Based</label>
                    </div>

                    <div class="flex items-center gap-2">
                        <p-radiobutton name="criteria" value="Account" [(ngModel)]="ingredient" inputId="ingredient2" />
                        <label for="ingredient2">Account</label>
                    </div>

                    <div class="flex items-center gap-2">
                        <p-radiobutton name="criteria" value="CHN" [(ngModel)]="ingredient" inputId="ingredient3" />
                        <label for="ingredient3">CHN</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="table-row">
            <div class="table-cell heading">RefNum</div>
            <input type="text" pInputText placeholder="" />
        </div>
        <p-button class="tran_view_button" label="View" icon="pi pi-eye" />

    </div>
</div> -->
    <form [formGroup]="searchForm">
        <div class="card">
            <div class="mx-4 mb-4 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 items-end ">

                <p-floatlabel variant="on">
                    <p-datepicker selectionMode="range" inputId="FromToDate" styleClass="w-full" showIcon
                        iconDisplay="input" formControlName="FromToDate" />
                    <label for="FromToDate">From Date - To Date <span
                            style="color: red;font-size: 16px;">*</span></label>
                </p-floatlabel>
                  <!-- Dynamic Inputs Based on Criteria -->
    <p-floatlabel variant="on" *ngIf="searchForm.get('Criteria')?.value === '0'">
        <input pInputText styleClass="w-full" formControlName="RefNum" type="text" />
        <label>Ref Number <span style="color: red; font-size: 16px;">*</span></label>
    </p-floatlabel>

    <p-floatlabel variant="on" *ngIf="searchForm.get('Criteria')?.value === '1'">
        <input pInputText styleClass="w-full" formControlName="Account" type="text" />
        <label>Account <span style="color: red; font-size: 16px;">*</span></label>
    </p-floatlabel>

    <p-floatlabel variant="on" *ngIf="searchForm.get('Criteria')?.value === '2'">
        <input pInputText styleClass="w-full" formControlName="CHN" type="text" />
        <label>CHN <span style="color: red; font-size: 16px;">*</span></label>
    </p-floatlabel>
                <div class="radiobutton flex flex-col gap-4">
                    <label>Criteria <span style="color: red; font-size: 16px;">*</span> </label>
                    <div class=" flex gap-4">
                        <div *ngFor="let category of categories" class="field-checkbox">
                            <p-radiobutton [inputId]="category.key" [value]="category.key" formControlName="Criteria" />
                            <label [for]="category.key" class="ml-2">{{ category.name }}</label>
                        </div>
                    </div>

                </div>


            </div>
            <div class="flex flex-row-reverse mx-4 my-8 justify-center">
                <p-button label="Search" severity="primary" raised icon="pi pi-save" (click)="onSubmit()" />
            </div>
        </div>
    </form>
</div>