::ng-deep {
    .report {
        .heading-color {
            color: var(--primary-color);
            font-weight: bold;
            letter-spacing: .5px;
        }

        .draganddrop {
            height: 35vh;
            width: 100%;
            border: 2px dashed #c7b4b4;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: var(--primary-color);
            font-size: 20px;
            align-content: center;
        }

        .p-fileupload-header {
            flex-wrap: wrap;
        }

        .p-togglebutton-content {
            height: 40px;
            width: 150px;
            border-radius: 10px !important;
        }


        span.p-select-label {
            width: 250px;
            height: 40px;
            align-content: center;
        }

        .atm-select.p-selectbutton {
            align-items: center;
        }

        .p-togglebutton-checked .p-togglebutton-content {
            background: var(--primary-color);
            color: #fff;
        }

        .acc.card.justify-center {
            border: 2px solid #f1f5f9;
            margin: 15px 0;
        }

        @media (max-width: 600px) {
            .p-togglebutton-content {
                width: 150px;
                height: 36px;
            }

            span.p-select-label {
                width: 100%;
                height: 36px;
                font-size: 0.9rem;
            }

            .atm-select.p-selectbutton {
                flex-direction: column; // stack items vertically if needed
                align-items: stretch;
            }
        }
    }
}