::ng-deep{
    .add-email{
         .heading-color {
                color: var(--primary-color);
                font-weight: bold;
                letter-spacing: .5px;
        }

        .backIcon {
            span.pi.pi-arrow-left.p-button-icon {
                font-size: 18px;
                color: black;
                font-weight: bold;
            }
        }
        
        .p-floatlabel {
            display: flex;
        }

        .p-inputtext {
            height: 40px;
            width: 100%;
        }

        .ng-invalid.ng-touched {
            border-color: red;
        }

        .p-inputtext:disabled {
            background: #e2e8f047;
        }

        .p-select.p-disabled {
            background: #e2e8f047;
        }

        .p-select {
            height: 40px;
        }

        .p-select-label {
            align-self: center;
        }

        .atm-select.p-selectbutton {
            align-items: center;

            .p-togglebutton-content {
                height: 25px;
                width: 125px;
                border-radius: 10px !important;
                font-size: 12px;
                font-weight: 800;
            }

            .p-togglebutton-checked .p-togglebutton-content {
                background: var(--primary-color);
                color: #fff;
            }
        }
    }
}