<div class="add-SAF col-span-12 xl:col-span-12">
    <h2 class="mb-8">SAF Management</h2>
    <div class="card !mb-4">
        <form [formGroup]="SAFForm">
            <div class="flex flex-wrap justify-between mb-4">
                <div class="flex gap-2 items-center ">
                    <div class="font-semibold text-xl heading-color">
                        SAF Management Details
                    </div>
                </div>
            </div>
            <div class="mx-4 mb-4 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 items-center">
                <p-floatlabel variant="on">

                    <p-select [options]="networkOpt" optionValue="code" optionLabel="name" formControlName="networkName"
                        inputId="Group ID" styleClass="w-full" />
                    <label for="Group ID">Network Name <span style="color: red; font-size: 16px;">*</span> </label>
                </p-floatlabel>
                <p-floatlabel variant="on">

                    <p-select [options]="safStatusOPT" optionValue="code" optionLabel="name"
                        formControlName="safRecStatus" inputId="Group ID" styleClass="w-full" />
                    <label for="Group ID"> SAF Record Status <span style="color: red; font-size: 16px;">*</span>
                    </label>
                </p-floatlabel>
                <div class="flex flex-row-reverse mx-4 my-8">

                    <div class="btn-pos">
                        <p-button label="View" severity="primary" raised icon="pi pi-eye" (click)="onView()" />
                        <p-button label="Reset" severity="primary" outlined icon="pi pi-refresh" (click)="reset()" />
                    </div>
                </div>
            </div>
            <div *ngIf="showTable">
                <app-table [tableData]="tableData" [cols]="cols" [globalFilterFields]="globalFilterFields"
                    (rowSelected)="checkedData($event)" />
                <div class="btn-pos" *ngIf="selectedRows.length > 0">
                    <p-button label="Update" severity="primary" raised icon="pi pi-save" />
                    <p-button label="Delete" severity="danger" raised icon="pi pi-trash"
                        (click)="delete_visible = true" />
                </div>
            </div>
        </form>
    </div>
    <p-dialog [modal]="true" [(visible)]="delete_visible" [closable]="false" [style]="{ width: '25rem' }">
        <ng-template pTemplate="header">
            <div class="flex justify-between items-center w-full">
                <span class="text-lg font-semibold custom-text-color">
                    Confirm Deletion
                </span>
                <button pButton icon="pi pi-times" severity="secondary" class="change p-button-sm"
                    (click)="delete_visible = false"></button>
            </div>
        </ng-template>
        <div class="p-text-secondary mb-4 font-bold text-lg tracking-wide">
            Are you sure you want to delete?
        </div>
        <div class=" mb-4 text-base tracking-wide"> * This action cannot be undone.</div>
        <div class="flex justify-end gap-2">
            <p-button label="No" severity="secondary" (click)="delete_visible = false" />
            <p-button label="Yes, Delete" severity="danger" (click)="delateData()" />
        </div>
    </p-dialog>
</div>