img.im1 {
    height: 74px;
    width: 22rem;
}

span.imge {
    display: flex;
    justify-content: space-around;
}

::ng-deep {
    .atmDetails {
        .NOT.CONNECTED {
            font-weight: bold;
            color: red;
        }

        .CONNECTED {
            font-weight: bold;
            color: forestgreen;
        }
    }
}