::ng-deep {
    .fraud-Monitoring {
        .image-containor {
            width: 100%;
            position: relative;

            img {
                height: 100vh;
                width: 100%;
                border-radius: 10px;
            }

            p-button.atm-btn {
                position: absolute;
                top: 10px;
                left: 10px;
            }
        }

        .overlay {
            height: 100%;
            width: 40%;
            background: #001429E5;
            position: absolute;
            top: 0;
            right: 0;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;

            .content {
                color: white;
                font-size: 25px;
                font-weight: 600;
            }

            .icon {
                height: 60px;
                width: 60px;
                background: #0066CC;
                border-radius: 50%;
                text-align: center;
            }
        }
    }
}