.card{
    position: absolute;
    height: 190px;
    width: 254px;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.title-head{

}
.title-body{

}
.submit-button{
    color: black;
    background-color: bisque;
}