<!-- Header Section with Background and Title -->
<!-- <div class="" style="display: flex; justify-content: flex-start; align-items: center; margin-bottom: 20px;">
    <h2 style="margin: 0;">Branch Details</h2>
</div> -->

<!-- Card and Table -->
<!-- <div class="card" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px;">
    <p-table [value]="customers" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[10,15,20]">
        <ng-template #caption>
            <div class="flex w-full align-items-center gap-2 justify-content-between ">
                <p-button label="Add" [outlined]="true" icon="pi pi-plus" />
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" class="searchInp mr-1" placeholder="Search keyword" />
                    <button pButton type="button" icon="pi pi-search" class="change p-button-sm mr-2" pTooltip="Search"
                        tooltipPosition="top"></button>
                    <button pButton type="button" icon="pi pi-times" class="change p-button-sm" pTooltip="Clear"
                        tooltipPosition="top"></button>

                </p-iconfield> -->

<!-- <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" /> -->

<!-- </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th>
                    INST ID</th>
                <th>BRANCH ID</th>
                <th>BRANCH MAP CODE</th>
                <th>BRANCH NAME</th>
                <th>Actions</th>


            </tr>
        </ng-template>
        <ng-template #body let-customer>
            <tr>
                <td>{{ customer.INSTID }}</td>
                <td>{{ customer.INSTNAME }}</td>
                <td>{{ customer.INSTROUTETYPE }}</td>
                <td>{{ customer.INSTTYPE }}</td>
                <span class="flex gap-2">
                    <button pButton type="button" icon="pi pi-eye" class="change p-button-icon-only" pTooltip="View"
                        tooltipPosition="top" (click)="showFunction(customer)"></button>
                    <button pButton type="button" icon="pi pi-file-edit" class="change p-button-icon-only"
                        pTooltip="Edit" tooltipPosition="top" (click)="editFunction(customer)"></button>
                    <button pButton type="button" icon="pi pi-trash" class="change p-button-icon-only" pTooltip="Delete"
                        tooltipPosition="top" (click)="deleteItem()"></button>
                </span>



            </tr>
        </ng-template>
    </p-table>
</div> -->

<div class="atmDetails">
    <h2 class="mb-8"> Branch Details </h2>

    <div class="card" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px;">
        <app-table [tableData]="customers" [cols]="cols" [globalFilterFields]="globalFilterFields" [multipleButton]=""
            (deleteEvent)="delete_visible = true" (addEvent)="addOrEdit()" (editEvent)="editFunction($event)"
            (viewEvent)="showFunction($event)" [addButton]="'Add ATM'" />
    </div>
</div>

<!-- ✅ Single Dialog outside table  VIEW LAYOUT-->
<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '50rem' }" [closable]="false"
    class="VIEW_BRANCH_DIALOG">
    <ng-template pTemplate="header">
        <div class="flex justify-between items-center w-full">
            <span class="text-lg font-semibold custom-text-color">
                Branch Details
            </span>
            <button pButton icon="pi pi-times" class=" change p-button-sm" (click)="visible = false"></button>
        </div>
    </ng-template>

    <!-- Table-like layout  -->
    <div *ngIf="showViewData">
        <div class="table-row">
            <div class="table-cell heading">Inst Id</div>
            <div class="table-cell">{{ showViewData?.INSTID }}</div>
        </div>
        <div class="table-row">
            <div class="table-cell heading">Branch Id</div>
            <div class="table-cell">{{ showViewData?.INSTNAME }}</div>
        </div>
        <div class="table-row">
            <div class="table-cell heading">Branch Map Code</div>
            <div class="table-cell">{{ showViewData?.INSTROUTETYPE }}</div>
        </div>
        <div class="table-row">
            <div class="table-cell heading">Branch Name</div>
            <div class="table-cell">{{ showViewData?.INSTTYPE }}</div>
        </div>
    </div>
</p-dialog>


<!-- ✅ Single Dialog outside table  EDIT LAYOUT-->
<p-dialog [(visible)]="edit_visible" [modal]="true" [style]="{ width: '50rem' }" [closable]="false"
    class="EDIT_BRANCH_DIALOG">
    <ng-template pTemplate="header">
        <div class="flex justify-between items-center w-full">
            <span class="text-lg font-semibold custom-text-color">
                Edit Your Details
            </span>
            <button pButton icon="pi pi-times" class="change hovBut p-button-sm"
                (click)="edit_visible = false"></button>
        </div>
    </ng-template>

    <!-- Table-like layout  -->
    <div *ngIf="Edit_data">
        <div class="table-row">
            <div class="table-cell heading">Inst Id</div>
            <input class="table-cell" pInputText [(ngModel)]="Edit_data.INSTID" type="text" placeholder=""
                [disabled]="true" />
        </div>
        <div class="table-row">
            <div class="table-cell heading">Branch Id</div>
            <input class="table-cell" pInputText [(ngModel)]="Edit_data.INSTNAME" type="text" placeholder=""
                [disabled]="true" />

        </div>
        <div class="table-row">
            <div class="table-cell heading">Branch Map Code</div>
            <input class="table-cell" pInputText [(ngModel)]="Edit_data.INSTROUTETYPE" type="text"
                placeholder="" />

        </div>
        <div class="table-row">
            <div class="table-cell heading">Branch Name</div>
            <input class="table-cell" pInputText [(ngModel)]="Edit_data.INSTTYPE" type="text" placeholder="" />

        </div>
    </div>
    <div class="flex justify-end gap-2 mt-4">
        <p-button label="Cancel" severity="secondary" (click)="edit_visible = false" />
        <p-button label="Save" (click)="edit_visible = false" />
    </div>
</p-dialog>

<!-- ✅ Single Dialog outside table  DELETE LAYOUT-->

<p-dialog [modal]="true" [(visible)]="delete_visible" [closable]="false" [style]="{ width: '25rem' }">
    <ng-template pTemplate="header">
        <div class="flex justify-between items-center w-full">
            <span class="text-lg font-semibold custom-text-color">
                Confirm Deletion
            </span>
            <button pButton icon="pi pi-times" class="change p-button-sm" (click)="delete_visible = false"></button>
        </div>
    </ng-template>
    <div class="p-text-secondary mb-4">
        Are you sure you want to delete this item? This action cannot be undone.
    </div>
    <div class="flex justify-end gap-2">
        <p-button label="No" severity="secondary" (click)="delete_visible = false" />
        <p-button label="Yes, Delete" severity="danger" (click)="delete_visible = false" />
    </div>
</p-dialog>



<!-- ADD POPUP -->
<p-dialog [modal]="true" [(visible)]="ADDvisible" [style]="{ width: '50rem' }" [closable]="false">

    <!-- Custom header template -->
    <ng-template pTemplate="header">
        <div class="flex justify-between items-center w-full">
            <span class="text-lg font-semibold">Branch Profile Configuration</span>
            <button pButton type="button" icon="pi pi-times" class="change p-button-sm" pTooltip="Clear"
                tooltipPosition="top" (click)="ADDvisible = false">
            </button>
        </div>
    </ng-template>

    <div class="grid grid-cols-2 gap-4">
        <div class="flex flex-col gap-2">
            <label for="username">Institution Id *</label>
            <input pInputText id="TEST" aria-describedby="username-help" [disabled]="true" placeholder="TEST" />
        </div>
        <div class="flex flex-col gap-2">
            <label for="username">Branch Code *</label>
            <input pInputText id="username" aria-describedby="username-help" placeholder="Branch Code" />
        </div>
        <div class="flex flex-col gap-2">
            <label for="username">Branch Map Code *</label>
            <input pInputText id="username" aria-describedby="username-help" placeholder="Branch Map Code" />
        </div>
        <div class="flex flex-col gap-2">
            <label for="username">Branch Name*</label>
            <input pInputText id="username" aria-describedby="username-help" placeholder="Branch Name" />
        </div>
    </div>

    <div class="flex justify-end gap-2 mt-4">
        <p-button label="Cancel" severity="secondary" (click)="visible = false" />
        <p-button label="Save" (click)="visible = false" />
    </div>
</p-dialog>