<div class="branchDetails">
    <h2 class="mb-8 card header-card "
        style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px;"> Branch Details </h2>

    <div class="card" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px;">
        <app-table [tableData]="branchData" [cols]="cols" [globalFilterFields]="globalFilterFields"
            (deleteEvent)="example($event)" (addEvent)="addOrEdit($event,'add')"
            (editEvent)="editFunction($event, 'edit')" (viewEvent)="editFunction($event , 'view')"
            [addButton]="userType != 'M'?null:'Add Branch'" [multipleButton]="userType != 'M' ? buttonsList : ''"
            (event)="authFunc($event)">
        </app-table>
    </div>


    <p-dialog [(visible)]="edit_visible" [modal]="true" [style]="{ width: '50rem' }" [closable]="false"
        class="EDIT_BRANCH_DIALOG">
        <ng-template pTemplate="header">
            <div class="flex justify-between items-center w-full">
                <span class="text-lg font-semibold custom-text-color">
                    {{tpCheck == true ? 'View Your Details':'Edit Your Details'}}
                </span>
                <button pButton icon="pi pi-times" class="change hovBut p-button-sm"
                    (click)="edit_visible = false"></button>
            </div>
        </ng-template>

        <!-- Table-like layout  -->
        <div *ngIf="Edit_data">
            <div class="table-row">
                <div class="table-cell heading">INST ID</div>
                <input class="table-cell value" pInputText [(ngModel)]="Edit_data.instId" type="text" placeholder=""
                    [disabled]="true" />
            </div>
            <div class="table-row">
                <div class="table-cell heading">Branch Id</div>
                <input class="table-cell value" pInputText [(ngModel)]="Edit_data.branchCode" type="text" placeholder=""
                    [disabled]="true" />

            </div>
            <div class="table-row">
                <div class="table-cell heading">Branch Map Code</div>
                <input class="table-cell value" pInputText [(ngModel)]="Edit_data.branchMapCode" type="text"
                    placeholder="" [disabled]="tpCheck" maxlength="5" />

            </div>
            <div class="table-row">
                <div class="table-cell heading">Branch Name</div>
                <input class="table-cell value" pInputText [(ngModel)]="Edit_data.branchName" type="text" placeholder=""
                    [disabled]="tpCheck" />

            </div>
        </div>
        <div class="flex justify-end gap-2 mt-4" *ngIf="!tpCheck">
            <p-button label="Cancel" severity="secondary" (click)="edit_visible = false" />
            <p-button label="Save" icon="pi pi-save" (click)="onSave()" />
        </div>
    </p-dialog>

    <p-dialog [modal]="true" [(visible)]="delete_visible" [closable]="false" [style]="{ width: '25rem' }">
        <ng-template pTemplate="header">
            <div class="flex justify-between items-center w-full">
                <span class="text-lg font-semibold custom-text-color">
                    Confirm Deletion
                </span>
                <button pButton icon="pi pi-times" class="change hovBut p-button-sm"
                    (click)="delete_visible = false"></button>
            </div>
        </ng-template>
        <div class="p-text-secondary mb-4">
            Are you sure you want to delete this item? This action cannot be undone.
        </div>
        <div class="flex justify-end gap-2">
            <p-button label="No" severity="secondary" (click)="delete_visible = false" />
            <p-button label="Yes, Delete" severity="danger" (click)="deleteProfile(deleteData)" />
        </div>
    </p-dialog>



    <!-- ADD POPUP -->
    <p-dialog [modal]="true" [(visible)]="ADDvisible" [style]="{ width: '50rem' }" [closable]="false"
        class="EDIT_BRANCH_DIALOG">
        <ng-template pTemplate="header">
            <div class="flex justify-between items-center w-full">
                <span class="text-lg font-semibold custom-text-color">
                    Branch Profile Configuration
                </span>
                <button pButton icon="pi pi-times" class="change hovBut p-button-sm"
                    (click)="ADDvisible = false"></button>
            </div>
        </ng-template>

        <form [formGroup]="branchForm">
            <div class="grid grid-cols-2 gap-4 mt-6">
                <div class="flex flex-col gap-2">
                    <label for="institutionId">Institution Id *</label>
                    <input pInputText id="instId" formControlName="instId" [disabled]="true" placeholder="TEST" />
                </div>

                <div class="flex flex-col gap-2">
                    <label for="branchCode">Branch Code *</label>
                    <input pInputText id="branchCode" formControlName="branchCode" placeholder="Branch Code" />
                </div>

                <div class="flex flex-col gap-2">
                    <label for="branchMapCode">Branch Map Code *</label>
                    <input pInputText id="branchMapCode" formControlName="branchMapCode" placeholder="Branch Map Code"
                        maxlength="5" />
                </div>

                <div class="flex flex-col gap-2">
                    <label for="branchName">Branch Name *</label>
                    <input pInputText id="branchName" formControlName="branchName" placeholder="Branch Name" />
                </div>
            </div>
        </form>

        <div class="flex justify-end gap-2 mt-4">
            <p-button label="Cancel" severity="secondary" (click)="ADDvisible = false" />
            <p-button label="Save" [disabled]="branchForm.invalid" (click)="onSave()" />
        </div>
    </p-dialog>
</div>