<div class="trnxMonitor " style="text-align: center;margin: 10px;">
    <h2 class="mb-8 card header-card " style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px;">Transaction Monitor</h2>
</div>
<!-- Progress Bar -->
<div [style]="{ height: '6px', margin: '10px' }"><p-progressbar *ngIf="isLoading" mode="indeterminate">
    </p-progressbar></div>

<div style="margin: 10px;">
    <p-table [value]="transactionMonitoringrData" [resizableColumns]="true" styleClass="p-datatable-gridlines"
        [tableStyle]="{'width': '100%', 'table-layout': 'fixed'}">
        <ng-template #header>
            <tr>
                <th pResizableColumn style="min-width: 80px;">CHN</th>
                <th pResizableColumn style="min-width: 100px;">TXN CODE</th>
                <th pResizableColumn style="min-width: 120px;">TXN DESC</th>
                <th pResizableColumn style="min-width: 120px;">TERMINALID</th>
                <th pResizableColumn style="min-width: 120px;">TERMLOC</th>
                <th pResizableColumn style="min-width: 120px;">REF NUM</th>
                <th pResizableColumn style="min-width: 130px;">TRAN DATE</th>
                <th pResizableColumn style="min-width: 120px;">TRAN TIME</th>
                <th pResizableColumn style="min-width: 120px;">TXN AMOUNT</th>
                <th pResizableColumn style="min-width: 120px;">Currency</th>
                <th pResizableColumn style="min-width: 150px;">RESPONSE</th>
            </tr>
        </ng-template>

        <ng-template #body let-row>
            <tr [ngClass]="row.isApproved ? 'approved-row' : 'rejected-row'">
                <td>{{ row.chn }}</td>
                <td>{{ row.txnCode }}</td>
                <td>{{ row.txnDesc }}</td>
                <td>{{ row.terminalId }}</td>
                <td>{{ row.termLoc }}</td>
                <td>{{ row.refNum }}</td>
                <td>{{ row.tranDate }}</td>
                <td>{{ row.tranTime }}</td>
                <td>{{ row.amount }}</td>
                <td>{{ row.acqCurrencyCode }}</td>
                <td>{{ row.description }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>