<div class="E-Mail-component">
    <h2 class="mb-8 card header-card " style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px;">E-Mail Details</h2>

    <div class="card" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px;">
        <app-table [tableData]="transformedEmailGroups" [cols]="cols" [globalFilterFields]="globalFilterFields"
            (viewEvent)="view($event,'View')" [addButton]="userRole != 'maker'?null:'Add E-Mail'" (addEvent)="view($event,'Add')" />
    </div>
    <p-dialog [(visible)]="viewVisible" [modal]="true" [style]="{ width: '50rem' }" [closable]="false"
        class="EDIT_BRANCH_DIALOG">
        <ng-template pTemplate="header">
            <div class="flex justify-between items-center w-full">
                <span class="text-lg font-semibold custom-text-color">
                    Email Id Details
                </span>
                <button pButton icon="pi pi-times" class="change hovBut p-button-sm"
                    (click)="viewVisible = false"></button>
            </div>
        </ng-template>
<div class="custom-table-style m-4">
    <div class="row">
      <div class="label-cell">Group ID</div>
      <div class="value-cell">{{ group.groupId }}</div>
    </div>
    <div class="row">
      <div class="label-cell">Email List</div>
      <div class="value-cell">
        <ul class="email-list">
          <li *ngFor="let email of group.emailList">{{ email }}</li>
        </ul>
      </div>
    </div>
  </div>
    </p-dialog>
</div>