<div class="atm-Monitoring">
    <h2 class="mb-8 card header-card " style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px;">Control Monitoring</h2>

    <div class="card" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px;">

        <div class="image-containor">
            <img src="../../../../assets/images/monitoring.png" alt="">
            <p-button label="Control Monitoring" icon="pi pi-save" (click)="openWindow()" class="atm-btn" />
        </div>
    </div>
</div>