.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 6rem 2rem 0 2rem;
    transition: margin-left var(--layout-section-transition-duration);
}

.layout-main {
    flex: 1 1 auto;
    padding-bottom: 2rem;
}

.hide-scrollbar {
    overflow: hidden; /* Hide both scrollbars */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
  }

  .card.header-card {
    padding: 1rem !important;
    color: white;
    background: linear-gradient(90deg, color-mix(in srgb, #116bdb 30%, #116bdb), #0099d5)
}
