::ng-deep {
    .app-dark {
        .bg-pattern {
            background-color: #003564c4 !important;
        }
    }

    .login {
        .bg-pattern {
            background-color: #b6d9fc;
            /* fallback color */
            background-image: url('../../../../assets/images/light-wool.png');
            background-repeat: repeat;
            background-size: auto;
        }

        .ng-invalid.ng-touched {
            border-color: red;
        }

        .p-selectbutton {
            justify-content: center;

            .p-togglebutton-content {
                height: 25px;
                width: 125px;
                border-radius: 10px !important;
                font-size: 12px;
            }

            .p-togglebutton-checked .p-togglebutton-content {
                background: var(--primary-color);
                color: #fff;
            }

        }

        .changeLogin {
            width: 100%;
            display: grid;
            gap: 30px;
            padding: 20px 0;
            grid-template-columns: auto auto;
        }

        .change {
            .p-password-input {
                width: 100%;
            }
            .ng-invalid.ng-touched .p-password .p-password-input {
                border-color: red;
            }
            .custom-dialog-content .dialog-close-button .p-button {
                background-color: #f0f0f0;
                border-color: transparent;
                color: #333;
                transition: background-color 0.3s ease;
            }
   
            .custom-dialog-content .dialog-close-button .p-button:hover {
                background-color: var(--primary-color);
                /* or your theme color like #007ad9 */
                color: white;
            }
            .p-dialog-header {
                background: var(--p-button-primary-background);
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            .p-dialog-title {
                color: #ffffff;
                font-size: 25px
            }

            .p-button-text.p-button-secondary:not(:disabled):hover {
                border-radius: 6px;
                background-color: #ffffff;
                color: var(--primary-color);
            }

            .p-button-text.p-button-secondary {
                border-radius: 6px;
                color: #fff;
                outline: none;
                height: 35px;
            }

            .p-dialog{
                border: none;
            }
        }

        @media (max-width: 600px) {
            .p-selectbutton {
                flex-direction: column; // stack items vertically if needed
                align-items: stretch;
            }
        }
    }
}