<div class="login" [formGroup]="loginForm">
  <div class="relative flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden px-4 bg-pattern">
    <div
      class="flex w-full max-w-6xl bg-white dark:bg-surface-900 rounded-3xl overflow-hidden shadow-lg flex-col lg:flex-row "
      style="height: 600px;">

      <!-- Floating Configurator -->
      <app-floating-configurator style="background: transparent; z-index: 99;"></app-floating-configurator>

      <!-- Left: Background Image with Overlay -->
      <div class="w-full lg:w-1/2 hidden lg:flex items-center justify-center relative overflow-hidden">
        <div class="absolute inset-0 bg-cover bg-center z-0"
          style="background-image: url('../../../../assets/images/nick-pampoukidis-t-UV1rZqPuY-unsplash.jpg');">
        </div>
        <div class="absolute inset-0 bg-gradient-to-b from-primary/90 to-primary/50 z-10"></div>
        <div class="text-center text-white relative z-20 px-6">
          <h2 class="text-4xl font-bold mb-4">Welcome to Star CAS!</h2>
          <p class="text-lg font-medium">Please sign in to access your dashboard.</p>
        </div>
      </div>

      <!-- Right: Login Form -->
      <div class="w-full lg:w-1/2 flex flex-col items-center justify-center p-6 sm:p-12">
        <div class="w-full max-w-md flex flex-col justify-between">
          <img src="../../../../assets/images/logoimage.png" alt="Login Illustration" class="mb-2 rounded-lg w-full"
            style="padding: 1rem 4rem; height:6rem;width:auto" />

          <!-- Role Switch -->
          <p-selectButton *ngIf="!forgotPass" [options]="loginOptions" [(ngModel)]="selectedLogin" optionLabel="label"
            class="mb-6 w-full" [unselectable]="false" [ngModelOptions]="{standalone: true}"
            (onChange)="setLoginValidators(selectedLogin.value)">
          </p-selectButton>

          <!-- User Login -->
          <div style="height: 400px;" *ngIf="selectedLogin.value === 'user'&&!forgotPass">
            <div class="text-center mb-6">
              <h3 class="text-2xl font-semibold text-surface-900 dark:text-surface-0 mb-1">User Login</h3>
              <p class="text-muted-color">Access your user dashboard</p>
            </div>

            <label for="username" class="block font-medium mb-2">Username</label>
            <input pInputText id="username" type="text" formControlName="username" placeholder="Username"
              class="w-full mb-4" />

            <label for="userPassword" class="block font-medium mb-2">Password</label>
            <p-password id="userPassword" formControlName="userPassword" placeholder="Password" [toggleMask]="true"
              styleClass="mb-4" [fluid]="true" [feedback]="false"></p-password>

            <label for="userInstitution" class="block font-medium mb-2">Institution</label>
            <p-dropdown id="userInstitution" [options]="institutions" formControlName="userInstitution"
              placeholder="Select institution" class="w-full mb-4"></p-dropdown>

            <div class="flex justify-between items-center mb-6">
              <div class="flex items-center">
              </div>
              <a (click)="forgotPasswordValidation()" class="text-primary cursor-pointer font-medium">Forgot password?</a>
            </div>

            <p-button label="Sign In" styleClass="w-full" icon="pi pi-user" (onClick)="onUserLogin()"></p-button>
          </div>

          <div style="height: 400px;" *ngIf="selectedLogin.value === 'user'&&forgotPass">
            <div class="text-center mb-6">
              <h3 class="text-2xl font-semibold text-surface-900 dark:text-surface-0 mb-1">Forgot Password</h3>
              <p class="text-muted-color">Access to Change Password</p>
            </div>

            <label for="username" class="block font-medium mb-2">Username</label>
            <input pInputText id="username" type="text" formControlName="username" placeholder="Username"
              class="w-full mb-4" />

            <label for="userInstitution" class="block font-medium mb-2">Institution</label>
            <p-dropdown id="userInstitution" [options]="institutions" formControlName="userInstitution"
              placeholder="Select institution" class="w-full mb-4"></p-dropdown>

            <div class="flex justify-between items-center mb-6">
              <div class="flex items-center"></div>
              <a (click)="forgotPass = false" class="text-primary cursor-pointer font-medium">Login As User or Admin
                ?</a>
            </div>

            <p-button label="Submit" styleClass="w-full" icon="pi pi-user" (onClick)="forgotPassword()"></p-button>
          </div>


          <!-- Admin Login -->
          <div style="height: 400px;" *ngIf="selectedLogin.value === 'admin'">
            <div class="text-center mb-6">
              <h3 class="text-2xl font-semibold text-surface-900 dark:text-surface-0 mb-1">Admin Login</h3>
              <p class="text-muted-color">Secure access to admin panel</p>
            </div>

            <label for="AdminUsername" class="block font-medium mb-2">Username</label>
            <input pInputText id="AdminUsername" type="text" placeholder="Username" class="w-full mb-4"
              formControlName="AdminUsername" />

            <label for="adminPassword" class="block font-medium mb-2">Password</label>
            <p-password id="adminPassword" formControlName="adminPassword" placeholder="Password" [toggleMask]="true"
              styleClass="mb-4" [fluid]="true" [feedback]="false"></p-password>

            <div class="flex justify-between items-center mb-6">
              <div class="flex items-center">
                <!-- <p-checkbox formControlName="rememberAdmin" binary inputId="rememberAdmin" class="mr-2"></p-checkbox>
                <label for="rememberAdmin">Remember me</label> -->
              </div>
              <!-- <a class="text-primary cursor-pointer font-medium">Forgot password?</a> -->
            </div>

            <p-button label="Admin Sign In" styleClass="w-full" icon="pi pi-lock" (onClick)="onAdminLogin()"></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>