<div class="decrypt col-span-12 xl:col-span-12">
    <h2 class="mb-8 card header-card " style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px;">License Generation</h2>
    <div class="card !mb-4">
        <div class="flex flex-wrap justify-between mb-4">
                <div class="flex gap-2 items-center mb-8">
                    <div class="font-semibold text-xl heading-color">
                       License Decrypt
                    </div>
                </div>
            </div> 
            <div class="mx-4 ">

                <p-fileupload  name="demo[]" 
                [customUpload]="true"
                (uploadHandler)="onUpload($event)"
                [multiple]="true" 
                accept=".jpg,.png,.pdf,.doc,.docx,.xls,.xlsx,image/*,application/msword,application/pdf"
                maxFileSize="1000000" 
                mode="advanced">
              
                    <ng-template #empty>
                        <div class="draganddrop">Drag and drop files to here to upload.</div>
                    </ng-template>
                    <ng-template #content>
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                        </ul>  
                        <p-button  *ngIf="uploadedFiles.length" label="reset" severity="primary" outlined="" icon="pi pi-refresh" (click)="resetFile()" />
                    </ng-template>
                </p-fileupload>
            </div>
    </div>
</div>