<div class="atm-Monitoring">
    <h2 class="mb-8 card header-card "
        style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px;">ATM Monitoring</h2>

    <div class="card" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px;">

        <div class="image-containor">
            <img src="../../../../assets/images/ATM_monitoring.jpg" alt="">
            <p-button label="ATM Monitoring" icon="pi pi-save" (click)="openWindow()" class="atm-btn" />
            <div class="overlay">
                <div style="
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;">
                    <div class="icon"></div>
                    <div class="content">ATM MONITORING</div>
                </div>
            </div>
        </div>
    </div>
</div>