<div class="layout-topbar">
  <!-- Logo and Menu Button -->
  <div class="layout-topbar-logo-container">
    <button pTooltip="Menu" tooltipPosition="bottom" class="layout-menu-button layout-topbar-action"
      (click)="layoutService.onMenuToggle()">
      <i class="pi pi-bars"></i>
    </button>
    <a class="layout-topbar-logo" routerLink="/">
      <p-image [src]="img" class="logoimg" alt="Star CAS LOGO" />
    </a>
  </div>

  <!-- Right Side Actions -->
  <div class="layout-topbar-actions">
    <!-- Theme Toggle -->
    <button class="layout-topbar-action" (click)="toggleDarkMode()">
      <i [ngClass]="{ 'pi': true, 'pi-moon': layoutService.isDarkTheme(), 'pi-sun': !layoutService.isDarkTheme() }"></i>
    </button>

    <!-- Notifications -->
    <button (click)="togglepo1($event)" class="layout-topbar-action">
      <p-overlaybadge value="3" severity="danger">
        <i class="pi pi-bell  white-icon"></i>
      </p-overlaybadge>
      <span>Notifications</span>
    </button>

    <!-- Fullscreen -->
    <button class="layout-topbar-action" (click)="toggleFullScreen()">
      <i [ngClass]="isFullScreen ? 'pi pi-window-minimize' : 'pi pi-window-maximize'"></i>
      <span>Full Screen</span>
    </button>

    <!-- User Profile Section -->
    <div class="user-status profile-box" (click)="toggle($event)">
      <ng-container *ngIf="userImageUrl; else profileIcon">
        <div class="image-circle">
          <img [src]="userImageUrl" alt="User Profile" class="profile-img"/>
           <div class="online-container">
          <div class="online-dot"></div>
        </div>
        </div>
        

      </ng-container>
      <ng-template #profileIcon>
        <div class="profile-icon-circle">
          <i class="pi pi-user"></i>
          <div class="online-container">
            <div class="online-dot"></div>
          </div>
        </div>

      </ng-template>

      <div class="profile-details">
        <div class="name">
          Victor Blackwood
          <!-- <span>{{ userRole === 'admin' ? '(Admin)' : userRole === 'maker' ? '(Maker)' : '(Checker)' }}</span> -->
        </div>
        <span style="padding: 5px 15px ; background-color: #00BCD4; border-radius: 21px; gap: 10px;">{{ userRole ===
          'admin' ?
          '(Admin)' : userRole === 'maker' ? 'Maker' : 'Checker' }}</span>
      </div>

    </div>
  </div>

</div>
<!-- Profile Popover -->
<p-popover #op>
  <div class="popover-content">
    <ul class="popover-list">
      <li *ngFor="let member of members" (click)="profileAction(member)">
        <i [class]="getIconForMember(member.name)"></i>
        <span class="font-medium">{{ member.name }}</span>
      </li>
    </ul>
  </div>
</p-popover>
<!-- Notification Popover -->
<p-popover #op1>
  <div class="popover-content">
    <span class="font-medium block mb-2" (click)="selectMember(members1)">
      <p-avatar image="../../../../assets/images/download.png" styleClass="mr-2" shape="circle" />
      ATM Team
    </span>
    <ul class="popover-list">
      <li *ngFor="let member of members1" (click)="atmLocationAction()">
        <span class="font-medium">{{ member.name }}</span>
      </li>
    </ul>
  </div>
</p-popover>