::ng-deep {

  .layout-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e7eb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    background: linear-gradient(90deg, color-mix(in srgb, var(--primary-color) 30%, #0062d1), #0062d1);
    height: 72px;
  }

  .p-overlaybadge .p-badge {
    outline: none !important;
  }

  p-image.logoimg {
    width: 175px;
  }

  .layout-topbar-logo-container {
    display: flex;
    align-items: center;
    gap: 2rem !important;

    .layout-topbar-logo p-image {
      // height: 40px;
      // background: white;
      // padding: 2px;
      // border-radius: 6px;
    }
  }

  .layout-topbar-actions {
    display: flex;
    align-items: center;
    gap: 2rem !important;
  }

  .layout-topbar-action {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    border-radius: 6px;
    font-weight: 500;
    color: white !important;
    background: transparent;
    border: none;
    transition: background 0.2s, color 0.2s;

    &:hover {
      background: #f3f4f6;
      color: var(--primary-color) !important;
    }

    i {
      font-size: 1rem;
    }
  }

  .layout-topbar-menu-content {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  // User Profile Area
  .user-status.profile-box {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    // padding: 0.75rem;
    // background: linear-gradient(180deg, color-mix(in srgb, #fff 30%, transparent), transparent);
    cursor: pointer;
    border-radius: 6px;
    color: white;

    &:hover {
      color: #a3daff;
    }

    .profile-img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      object-fit: cover;
      border: 1px solid #34C759;
    }

    .profile-icon-circle {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background: #e5e7eb;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      i {
        font-size: 1.2rem;
        color: #4b5563;
      }
    }

    .profile-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap:0.5rem;

      .name {
        font-weight: 600;
        font-size: 1.1rem;

        span {
          margin-left: 6px;
          font-weight: 400;
          font-size: 0.9rem;
          color: #f1f5f9;
        }
      }


    }
  }

  .online-container {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    right: -5px;
    bottom: 5px;

    .online-dot {
      margin-bottom: -2px;
      margin-left: -17px;
      height: 9px;
      width: 9px;
      background-color: #00ff15;
      border-radius: 50%;
      animation: blink 1.5s infinite ease-in-out;
      box-shadow: 0 0 0 2px #FFFFFF;
    }
  }

  .image-circle {
    position: relative;
  }

  .popover-content {
    padding: 0.75rem 0;
    min-width: 200px;
  }

  .popover-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 0.75rem;
      border-radius: 6px;
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        color: #1d4ed8;
      }
    }
  }

  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0.4;
    }
  }
}