<div class="Chn">
    <div class="" style="display: flex; justify-content: flex-start; align-items: center; margin-bottom: 20px;">
    <h2 style="margin: 0;"> International TXN Enabled Or Disabled</h2>
</div>
<div class="card">
    <div style="display: flex; justify-content: center;">
        <p-floatlabel variant="on">
    
                        <input pInputText styleClass="w-full" id="CHN"  type="text" [(ngModel)]="CHNvalue"/>
                        <label for="CHN">CHN <span style="color: red; font-size: 16px;">*</span> </label>
                    </p-floatlabel>
    </div>
    <div style="display: flex; justify-content: center; padding: 10px;"> 
        <p-button label="Submit" severity="primary" raised icon="pi pi-save" (click)="onSubmit()" />
    </div>
</div>
</div>