<div class="" style="display: flex; justify-content: flex-start; align-items: center; margin-bottom: 20px;">
    <h2 style="margin: 0;"> INTERNATIONAL TXN ENABLED OR DISABLED </h2>
</div>

<div class="card" style="display: flex; justify-content: center;">
    <div class="flex flex-column gap-2">
        <label for="username">CHN*</label>
        <input pInputText id="username" aria-describedby="username-help" placeholder="Chn" />

        <!-- Button moved inside the same column to appear below input -->
        <p-button label="Submit" [rounded]="true" severity="info"></p-button>
    </div>
</div>