<div class="grid grid-cols-12 gap-8">
    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
        <div class="card mb-0">
            <div class="flex justify-between mb-4">
                <div>
                    <span class="block text-muted-color font-medium mb-4">Total Users</span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">8</div>
                </div>
                <div class="flex items-center justify-center bg-cyan-100 dark:bg-cyan-400/10 rounded-border"
                    style="width: 5rem; height: 5rem">
                    <i class="pi pi-users text-cyan-500 !text-xl" style="font-size: 2rem !important"></i>
                </div>
            </div>
            <!-- <span class="text-primary font-medium">24 new </span>
            <span class="text-muted-color">since last visit</span> -->
        </div>
    </div>
    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
        <div class="card mb-0">
            <div class="flex justify-between mb-4">
                <div>
                    <span class="block text-muted-color font-medium mb-4">Total Branchs</span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">86</div>
                </div>
                <div class="flex items-center justify-center bg-orange-100 dark:bg-orange-400/10 rounded-border"
                    style="width: 5rem; height: 5rem">
                    <i class="pi pi-building-columns text-orange-500 !text-xl" style="font-size: 2rem !important"></i>
                </div>
            </div>
            <!-- <span class="text-primary font-medium">%52+ </span>
            <span class="text-muted-color">since last week</span> -->
        </div>
    </div>
    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
        <div class="card mb-0">
            <div class="flex justify-between mb-4">
                <div>
                    <span class="block text-muted-color font-medium mb-4">Total Alert TXN'S</span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">148638</div>
                </div>
                <div class="flex items-center justify-center bg-red-100 dark:bg-red-400/10 rounded-border"
                    style="width: 5rem; height: 5rem">
                    <i class="pi pi-exclamation-triangle text-red-500 !text-xl" style="font-size: 2rem !important"></i>
                </div>
            </div>
            <!-- <span class="text-primary font-medium">520 </span>
            <span class="text-muted-color">newly registered</span> -->
        </div>
    </div>
    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
        <div class="card mb-0">
            <div class="flex justify-between mb-4">
                <div>
                    <span class="block text-muted-color font-medium mb-4">Total ECOM TXN's</span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">41265</div>
                </div>
                <div class="flex items-center justify-center bg-green-100 dark:bg-green-400/10 rounded-border"
                    style="width: 5rem; height: 5rem">
                    <i class="pi pi-shopping-cart text-green-500 !text-xl" style="font-size: 2rem !important"></i>
                </div>
            </div>

        </div>
    </div>
    <div class="col-span-12 lg:col-span-6 xl:col-span-9">
        <div class="card mb-0">
            <div class="flex justify-between mb-4">
                <div>
                    <span class="block text-muted-color font-medium mb-4">Total ATM's</span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">70</div>
                </div>
                <div>
                    <span class="block text-muted-color font-medium mb-4">Online</span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">41</div>
                </div>
                <div>
                    <span class="block text-muted-color font-medium mb-4">Offline</span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">9</div>
                </div>
                <div>
                    <span class="block text-muted-color font-medium mb-4">Warning</span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">2</div>
                </div>
                <div class="flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-border"
                    style="width: 5rem; height: 5rem">
                    <i class="pi pi-sitemap text-blue-500 !text-xl" style="font-size: 2rem !important"></i>
                </div>
            </div>

        </div>
    </div>
    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
        <div class="card mb-0">
            <div class="flex justify-between mb-4">
                <div>
                    <span class="block text-muted-color font-medium mb-4">Total ATM TXN'S</span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">33637</div>
                </div>
                <div class="flex items-center justify-center bg-purple-100 dark:bg-purple-400/10 rounded-border"
                    style="width: 5rem; height: 5rem">
                    <i class="pi pi-money-bill text-purple-500 !text-xl" style="font-size: 2rem !important"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-span-12 xl:col-span-12">
        <div class="card !mb-4">
            <div class="font-semibold text-xl mb-8 heading-color">
                My Profile
            </div>
            <div class="flex flex-row gap-16 items-center px-8 background-ban">
                <div class="mb-4 profile-img">
                    <p-button icon="pi pi-camera" p-button class="img-profile" rounded
                        (click)="triggerFileInputClick()"></p-button>
                    <!-- Hidden File Input -->
                    <input type="file" #fileInput (change)="onImageSelected($event)" accept="image/*"
                        style="display: none;" />
                    <img *ngIf="imageUrl" [src]="imageUrl" alt="Profile Image"
                        class="rounded-circle object-cover d-block" />
                </div>
                <div class="mb-8 profile-details ">
                    <!-- <div class="font-semibold text-xl ">{{userInfo.FIRSTNAME}} {{userInfo.LASTNAME}}</div> -->
                    <div class="font-semibold text-xl pb-1 heading-color">Tdfwefw Fwefwewegweg</div>

                    <div class="font-semibold text-base pb-1">{{userInfo.USERNAME}}</div>

                    <div class="font-semibold text-base ">{{userInfo.CITY}}, {{userInfo.COUNTRY}}.</div>
                </div>
            </div>
            <hr>
            <div class="font-semibold text-xl mb-8 heading-color">
                User Information
            </div>
            <div class="flex flex-row justify-around">
                <div class="mb-8  profile-details ">
                    <div class="mb-8">
                        <div class="font-semibold text-sm ">First Name </div>
                        <div class="font-semibold text-lg ">{{userInfo.FIRSTNAME}}</div>
                    </div>
                    <div class="mb-8">
                        <div class="font-semibold text-sm ">User ID </div>
                        <div class="font-semibold text-lg ">{{userInfo.USERID}}</div>
                    </div>
                    <div class="mb-8">
                        <div class="font-semibold text-sm ">Email ID </div>
                        <div class="font-semibold text-lg ">{{userInfo.EMAILID}}</div>
                    </div>

                </div>
                <div class="mb-8  profile-details ">
                    <div class="mb-8">
                        <div class="font-semibold text-sm ">Last Name </div>
                        <div class="font-semibold text-lg ">{{userInfo.LASTNAME}}</div>
                    </div>
                    <div class="mb-8">
                        <div class="font-semibold text-sm ">DOB </div>
                        <div class="font-semibold text-lg ">{{userInfo.DOB}}</div>
                    </div>
                    <div class="mb-8">
                        <div class="font-semibold text-sm ">Address </div>
                        <div class="font-semibold text-lg ">{{userInfo.ADDRESS}}</div>
                    </div>
                </div>
                <div class="mb-8 profile-details ">
                    <div class="mb-8">
                        <div class="font-semibold text-sm ">User Name </div>
                        <div class="font-semibold text-lg ">{{userInfo.USERNAME}}</div>
                    </div>
                    <div class="mb-8">
                        <div class="font-semibold text-sm ">Mobile No. </div>
                        <div class="font-semibold text-lg ">{{userInfo.MOBILENO}}</div>
                    </div>
                    <div class="mb-8">
                        <div class="font-semibold text-sm ">Last Login </div>
                        <div class="font-semibold text-lg ">{{userInfo.LASTLOGIN}}</div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>