<div class="dashboardContainor px-4 py-6 space-y-6">
    <!-- Top 4 Cards -->
    <div class="grid grid-cols-12 gap-6">
        <!-- Total Users -->
        <div class="col-span-12 sm:col-span-6 xl:col-span-3">
            <div class="card back-bl h-full p-4">
                <div class="block mb-2" style="color:var(--primary-color);font-size: 17px;font-weight: 700;margin-bottom:10px;">Total Users
                </div>
                <div class="flex justify-between items-center">
                    <div class="flex items-center justify-center bg-cyan-100 rounded-full w-16 h-16">
                        <i class="pi pi-users text-cyan-500 !text-xl" style="font-size: 2rem !important"></i>
                    </div>
                    <div>

                        <div class="text-[#101828] font-medium text-[40px]">{{cardsInfo?.userCount}}</div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Total Branches -->
        <div class="col-span-12 sm:col-span-6 xl:col-span-3">
            <div class="card back-bl h-full p-4">
                <div class="block mb-2" style="color:var(--primary-color);font-size: 17px;font-weight: 700;margin-bottom:10px;">Total
                    Branchs</div>
                <div class="flex justify-between items-center">

                    <div class="flex items-center justify-center bg-orange-100 rounded-full w-16 h-16">
                        <i class="pi pi-building-columns text-orange-500 !text-xl" style="font-size: 2rem !important"></i>
                    </div>
                    <div>

                        <div class="text-[#101828] font-medium text-[40px]">{{cardsInfo?.branchCount}}</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Total Alert TXN -->
        <div class="col-span-12 sm:col-span-6 xl:col-span-3">
            <div class="card back-bl h-full p-4">
                <div class="block mb-2" style="color:var(--primary-color);font-size: 17px;font-weight: 700;margin-bottom:10px;">Total ATM's</div>
                <div class="flex justify-between items-center">

                    <div class="flex items-center justify-center bg-red-100 rounded-full w-16 h-16">
                        <i class="pi pi-sitemap text-red-500 !text-xl" style="font-size: 2rem !important"></i>
                    </div>
                    <div>

                        <div class="text-[#101828] font-medium text-[40px]">{{cardsInfo?.totalAtmCount}}</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Total ECOM TXN -->
        <div class="col-span-12 sm:col-span-6 xl:col-span-3">
            <div class="card back-bl h-full p-4">
                <div class="block mb-2" style="color:var(--primary-color);font-size: 17px;font-weight: 700;margin-bottom:10px;">Total ATM TXN'S</div>
                <div class="flex justify-between items-center">

                    <div class="flex items-center justify-center bg-green-100 rounded-full w-16 h-16">
                        <i class="pi pi-money-bill text-green-500 !text-xl" style="font-size: 2rem !important"></i>
                    </div>
                    <div>

                        <div class="text-[#101828] font-medium text-[40px]">{{cardsInfo?.atmTransactionCount}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Profile & ATM Status -->
    <div class="grid grid-cols-12 gap-6">
        <!-- Profile Card -->
        <div class="col-span-12 lg:col-span-6 xl:col-span-4 ">
            <div class="card mb-0 back-bl h-full flex flex-col">
                <div class="flex flex-warp flex-col items-center px-8 ">
                    <p-confirmpopup />
                    <div class="mb-4 profile-img">
                        <div *ngIf="!imageUrl">
                            <div class="default-profile-head"> </div>
                            <div class="default-profile-body"> </div>
                        </div>
                        <!-- <p-button icon="pi pi-camera" p-button class="img-profile" rounded severity="secondary"
                            (click)="upload($event)"></p-button> -->

                        <!-- Hidden File Input -->
                        <input type="file" #fileInput (change)="onImageSelected($event)" accept="image/*"
                            style="display: none;" />
                        <img *ngIf="imageUrl" [src]="imageUrl" alt="Profile Image"
                            class="rounded-circle object-cover d-block" />

                    </div>
                    <div class="mb-8 profile-details ">
                        <!-- <div class="font-semibold text-xl ">{{userInfo.FIRSTNAME}} {{userInfo.LASTNAME}}</div> -->
                        <div class="font-semibold text-xl pb-1 heading-color">{{userInfo?.userName}}</div>
                        <div class="font-semibold text-base pb-1 text-center" style="color: #5e5e5e;font-weight: bold;">
                            Role : {{ userType ==='SU' ?'Admin' : userType === 'M' ? 'Maker' : 'Checker'}}</div>
                    </div>

                </div>
                <div class="flex flex-col gap-4">
                    <div class="flex justify-between" style="border-bottom: 1px solid #ddd;padding-block: 10px;">
                        <div class="font-bold text-gray-500">Profile</div>
                        <div class="font-bold">{{userInfo?.profileName}}</div>
                    </div>
                    <div class="flex justify-between" style="border-bottom: 1px solid #ddd;padding-block: 10px;">
                        <div class="font-bold text-gray-500">Email</div>
                        <div class="font-bold">{{userInfo?.emailId}}</div>
                    </div>
                    <div class="flex justify-between" style="border-bottom: 1px solid #ddd;padding-block: 10px;">
                        <div class="font-bold text-gray-500">Last Login</div>
                        <div class="font-bold">{{userInfo?.lastLogin}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ATM Status -->
        <div class="col-span-12 lg:col-span-6 xl:col-span-8">
            <div class="card back-bl h-full p-6">
                <div class="flex justify-between mb-4">
                     <h4 class="mb-4 text-grey">Overall Transaction Status per Year</h4>
                     <p-floatlabel class="mx-4" style="width: 150px;" variant="on">
                    <p-select appendTo="body" [(ngModel)]="yearData" styleClass="w-full" (onChange)="initChartLine()"
                        inputId="on_label" [options]="years" optionValue="name" optionLabel="name" />
                    <label for="on_label">Year</label>
                </p-floatlabel>
                </div>
               
                <div class="">
                     <p-chart type="line" width="300" height="300" [data]="linedata" [options]="lineoptions" class="h-[30rem]" />
                    
                </div>
            </div>
        </div>
    </div>

       <div class="grid grid-cols-12 gap-6">
         <div class="col-span-12 lg:col-span-6 xl:col-span-8 ">
            <div class="card back-bl h-full p-6"> 
                <h4 class="mb-4 text-grey">Transaction Status by Response wise</h4>
                <p-chart type="pie" [data]="circledata" width="300" height="400" [options]="circleoptions" class="w-full md:w-[10rem]" />
            </div>
        </div>
        <div class="col-span-12 lg:col-span-6 xl:col-span-4 ">
            <div class="card back-bl h-full p-6">
                <h4 class="mb-4 text-grey">Transaction Status per Day</h4>
                 <p-chart type="doughnut" [data]="dougnutdata" width="300" height="400" [options]="dougnutoptions" class="w-full md:w-[10rem]" />
            </div>
        </div>
        
    </div>
    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 ">
            <div class="card back-bl h-full p-6">
                <h4 class="mb-4 text-grey">Transaction Status by Type-Wise</h4>
                 <p-chart type="line" [data]="databar" [options]="optionsbar" class="h-[30rem]" />
            </div>
        </div>
    </div>
</div>