<div class="add-user-controller col-span-12 xl:col-span-12">
    <h2 class="mb-8 card header-card "
        style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px;">User Details</h2>
    <div class="card !mb-4">
        <form [formGroup]="userForm">
            <div class="flex justify-between">
                <div class="flex gap-2 items-center mb-8">
                    <p-button icon="pi pi-arrow-left" (onClick)="goBack()" styleClass="p-button-text"
                        class="backIcon"></p-button>
                    <div *ngIf="this.routeData?.type == 'addUser'" class="font-semibold text-xl  heading-color">
                        Add Users
                    </div>
                    <div *ngIf="this.routeData?.type == 'view'" class="font-semibold text-xl  heading-color">
                        View Users
                    </div>
                    <div *ngIf="this.routeData?.type == 'edit'" class="font-semibold text-xl  heading-color">
                        Edit Users
                    </div>
                </div>
                <p-button *ngIf="this.routeData?.type == 'edit' && !this.saveCheck" label="Edit user Details"
                    severity="warn" raised icon="pi pi-pencil" (click)="editEnable()" />

                <div *ngIf="routetype == 'auth'" class="flex gap-2 items-center mb-4">
                    <p-button label="Authorized User" severity="primary" raised (onClick)="Authorized('authorize')"
                        icon="pi pi-file-check" />
                    <p-button label="Reject" severity="primary" outlined raised (onClick)="Authorized('reject')"
                        icon="pi pi-file-excel" />
                </div>

                <div *ngIf="routetype == 'deleteAuth'" class="flex gap-2 items-center mb-4">
                    <p-button label="Authorized User" severity="primary" raised (onClick)="Authorized('deleteUserAuth')"
                        icon="pi pi-file-check" />
                    <p-button label="Reject" severity="primary" outlined raised
                        (onClick)="Authorized('deleteUserDeAuth')" icon="pi pi-file-excel" />
                </div>
                <div *ngIf="routetype == 'EditAuth'" class="flex gap-2 items-center mb-4">
                    <p-button label="Authorized User" severity="primary" raised (onClick)="Authorized('editUserAuth')"
                        icon="pi pi-file-check" />
                    <p-button label="Reject" severity="primary" outlined raised (onClick)="Authorized('editUserDeAuth')"
                        icon="pi pi-file-excel" />
                </div>
                <div *ngIf="routetype == 'BlockAuth'" class="flex gap-2 items-center mb-4">
                    <p-button label="Authorized User" severity="primary" raised (onClick)="Authorized('BlockAuth')"
                        icon="pi pi-file-check" />
                    <p-button label="Reject" severity="primary" outlined raised (onClick)="Authorized('BlockDeAuth')"
                        icon="pi pi-file-excel" />
                </div>
                 <div *ngIf="routetype == 'UnBlockAuth'" class="flex gap-2 items-center mb-4">
                    <p-button label="Authorized User" severity="primary" raised (onClick)="Authorized('UnBlockAuth')"
                        icon="pi pi-file-check" />
                    <p-button label="Reject" severity="primary" outlined raised (onClick)="Authorized('UnBlockDeAuth')"
                        icon="pi pi-file-excel" />
                </div>
                 <div *ngIf="routetype == 'reset'" class="flex gap-2 items-center mb-4">
                    <p-button label="Authorized User" severity="primary" raised (onClick)="Authorized('resetAuth')"
                        icon="pi pi-file-check" />
                    <p-button label="Reject" severity="primary" outlined raised (onClick)="Authorized('resetDeAuth')"
                        icon="pi pi-file-excel" />
                </div>
            </div>
            <div class="mx-4 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 items-end ">

                <p-floatlabel variant="on">

                    <p-select [options]="profileOtp" formControlName="Profile" optionValue="profileId"
                        optionLabel="profileName" inputId="Profile" styleClass="w-full" />
                    <label for="Profile">Profile <span style="color: red; font-size: 16px;">*</span> </label>
                </p-floatlabel>
                <p-floatlabel variant="on">

                    <p-select [options]="branchOpt" formControlName="Branch" optionValue="BRANCHCODE"
                        optionLabel="BRANCHNAME" inputId="Branch" styleClass="w-full" />
                    <label for="Branch">Branch <span style="color: red; font-size: 16px;">*</span> </label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <input pInputText styleClass="w-full" id="username" type="text" maxlength="30" formControlName="username" />
                    <label for="username">User Name <span style="color: red;">*</span></label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <input pInputText styleClass="w-full" id="firstname" type="text" maxlength="30" formControlName="firstname" />
                    <label for="firstname">First Name <span style="color: red;">*</span></label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <input pInputText styleClass="w-full" id="lastname" type="text" maxlength="30" formControlName="lastname" />
                    <label for="lastname">Last Name <span style="color: red;">*</span></label>
                </p-floatlabel>
                <p-floatlabel variant="on" *ngIf="this.routeData?.type != 'addUser'">
                    <input pInputText styleClass="w-full" id="instname" type="text" formControlName="instname" />
                    <label for="instname">Inst Name </label>
                </p-floatlabel>
                <!-- <p-floatlabel variant="on">
                    <p-datepicker inputId="DOB" styleClass="w-full" showIcon iconDisplay="input"
                        formControlName="DOB" />
                    <label for="DOB">DOB <span style="color: red;font-size: 16px;">*</span></label>
                </p-floatlabel> -->
                <p-floatlabel variant="on">
                    <input pInputText styleClass="w-full" id="email" type="text" formControlName="email" />
                    <label for="email">E-Mail Id <span style="color: red;">*</span></label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <input pInputText styleClass="w-full" id="mobile" type="number" maxlength="10" formControlName="mobile" />
                    <label for="mobile">Mobile No. <span style="color: red;">*</span></label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <input pInputText styleClass="w-full" id="address" type="text" formControlName="address" />
                    <label for="address">Address <span style="color: red;">*</span></label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <input pInputText styleClass="w-full" id="city" type="text" formControlName="city" />
                    <label for="city">City <span style="color: red;">*</span></label>
                </p-floatlabel>
                <p-floatlabel variant="on">

                    <p-select [options]="countryOpt" formControlName="country" optionValue="COUNTRY"
                        optionLabel="COUNTRY" inputId="country" styleClass="w-full" />
                    <label for="country">Country <span style="color: red; font-size: 16px;">*</span> </label>
                </p-floatlabel>

            </div>

            <div class="flex flex-row-reverse mx-4 mt-4" *ngIf="this.saveCheck">
                <p-button label="Save" severity="primary" raised icon="pi pi-save" (click)="onSubmit()" />
            </div>
        </form>
    </div>
    <p-dialog header="Authorization Success" [(visible)]="showSuccessDialog" [modal]="true"  (onHide)="goBack()" [style]="{width: '500px'}">
        <div style="display: flex;flex-direction: column;gap:15px">
            <p style="font-size: 18px;margin: 0"><span style="font-weight:bold">Username :</span> {{ authorizedUser }}</p>
            <div class="p-inputgroup">
               
                <div class="flex row gap-2 items-center "> 
                    <p style="font-weight: bold;font-size: 18px;margin: 0">Password : </p>
                    <input type="text" style="font-size: 20px;width:200px;outline:none" pInputText [value]="authorizedPassword" readonly>
                    <button pButton icon="pi pi-copy" (click)="copyToClipboard(authorizedPassword)" pTooltip="Copy"
                      tooltipPosition="top"  class="p-button-secondary"></button>
                </div>

            </div>
            <p style="font-size: 16px; color: green; font-weight: bold;text-align: center;">Authorized Successfully!</p>
        </div>
    </p-dialog>
</div>