::ng-deep {
    .atm-type-controller-chart {
        .heading-color {
            // color: var(--primary-color);
            font-weight: bold;
            letter-spacing: .5px;
        }

        // p-button.btnrel {
        //     position: absolute;
        //     /* left: 0; */
        //     right: 11px;
        //     top: 10px;
        // }

        // p-splitbutton.btnrel {
        //     position: absolute;
        //     /* left: 0; */
        //     right: 11px;
        //     top: 10px;
        // }

        .p-select {
            height: 40px;
        }

        p-select {
            width: 100%;
        }

        .p-datepicker {
            height: 40px;
            width: 100%;
        }

    }

    .Terminal_Wise {
        margin: 2rem;
        border: 1px solid #dedede;
        border-radius: 10px;
    }

    .TransTypeWise {
        margin: 2rem;
        border: 1px solid #dedede;
        border-radius: 10px;
    }

    .ResponseWise {
        margin: 2rem;
        border: 1px solid #dedede;
        border-radius: 10px;
    }

    .TransactionStatus {
        margin: 2rem;
        border: 1px solid #dedede;
        border-radius: 10px;
    }

    .lab {
        justify-content: end;
        align-items: end;
    }

    .box {
        margin: 2rem;
        border: 1px solid #f1f1f1;
        padding: 15px;
        border-radius: 10px;
        background: #f1f5f9;
        box-shadow: 0px 1px 4px #c5c5c5;
    }

    canvas {
        height: 350px !important;
    }

    .p-tieredmenu-overlay {
        top: 35px !important;
        left: -100px !important;
    }

}