::ng-deep {
    .atm-Monitoring-details {

        .tab-header {
            display: flex;
            align-items: center;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            font-weight: 500;
        }

        .p-tab-active.all {
            background: #33333340;
            border-color: #333;
            color: #333 !important;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .p-tab-active.good {
            background: #4caf5040;
            border-color: #4caf50;
            color: #4caf50 !important;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .p-tab-active.offline {
            background: #ff000040;
            border-color: #ff0000;
            color: #ff0000 !important;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .p-tab-active.warning {
            background: #f38f0040;
            border-color: #f38f00;
            color: #f38f00 !important;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .p-tab-active.outSer {
            background: #72757a40;
            border-color: #72757a;
            color: #72757a !important;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .p-tab-active.lowcash {
            background: #03663a40;
            border-color: #03663a;
            color: #03663a !important;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .p-tab-active.crit {
            background: #8b000040;
            border-color: #8b0000;
            color: #8b0000 !important;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .p-tab-active.supervisor {
            background: #3c3cd140;
            border-color: #3c3cd1;
            color: #3c3cd1 !important;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .p-tablist-tab-list {
            justify-content: space-between;
        }

        .atm-box {
            width: 100px;
            height: 100px;
            border-radius: 8px;
            margin: 10px;
            padding: 10px;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            cursor: pointer;
        }

        .atm-box img {
            width: 65px !important;
            height: 65px !important;
            margin-bottom: 10px;
        }

        .color-good {
            background: #4caf5040;
        }

        .color-offline {
            background: #ff000040;
        }

        .color-warning {
            background: #f38f0040;
        }

        .color-out {
            background: #72757a40;
        }

        .color-lowcash {
            background: #03663a40;
        }

        .color-critical {
            background: #8b000040;
        }

        .color-supervisor {
            background: #3c3cd140;
        }

        .heading-color {
            color: var(--primary-color);
            font-weight: bold;
            letter-spacing: .5px;
        }

        span.count {
            height: 25px;
            width: 25px;
            background: white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: var(--primary-color) !important;
        }

        .p-tab-active span.count {
            background: var(--primary-color);
            color: white !important;
        }

        input.searchInp {
            height: 40px;
            border: 2px solid var(--primary-color);
            border-left: none;
            border-top: none;
            border-right: none;
            border-radius: 6px;
            text-align: left;
            padding: 0 0 0 30px;
            outline: none;
        }

        .p-inputgroup {
            width: 300px;
        }

        .p-dialog .p-dialog-content {
            font-family: 'Segoe UI', sans-serif;
            font-size: 14px;
            padding: 1.5rem;
        }

        .p-dialog .p-dialog-header {
            background-color: #f5f5f5;
            border-bottom: 1px solid #ddd;
            font-weight: 600;
        }

        .field {
            margin-bottom: 1rem;
        }


        .flex.gap-6>div {
            background: #f1f1f1;
            padding: 0.75rem 1.25rem;
            border-radius: 6px;
            border: 1px solid #ddd;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
        }

        .p-table th {
            background-color: #f0f0f5;
            text-align: left;
            color: #333;
        }

        .p-table td {
            background-color: #fff;
            color: #555;
        }

        .p-table {
            margin-top: 0.5rem;
            border: 1px solid #ddd;
            border-radius: 6px;
            overflow: hidden;
        }

        .status-legend {
            padding: 1rem;
            border: 1px solid #ccc;
            margin-bottom: 1rem;
            background-color: #f1f1f1;
            border-radius: 4px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }

        .legend-item {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
            font-size: 14px;
            font-weight: bold;
        }

        .legend-item i {
            margin-right: 0.5rem;
            font-size: 16px;
        }

        .MONI_DIALOG {

            .p-button-text.p-button-secondary:not(:disabled):hover {
                border-radius: 6px;
                background-color: #ffffff;
                color: var(--primary-color);
            }

            .p-button-text.p-button-secondary {
                border-radius: 6px;
                color: #fff;
                outline: none;
                height: 35px;
            }

            .p-dialog {
                border: 0;
            }

            .p-dialog-title {
                color: #ffffff;
                font-size: 25px
            }

            .p-dialog-header {
                background: var(--primary-color);
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

        }

        .atm-details-grid {
            display: grid;
            grid-template-columns: auto auto;
            gap: 10px;
        }

        .atm-details-row {
            display: flex;
            border: 1px solid #ddd;
            border-radius: 6px;
            height: 40px;
            width: auto;
            flex-wrap: wrap;
            align-items: center;
            overflow: hidden;
        }

        .atm-details-cell {
            flex: 1;
            padding: 10px;
            box-sizing: border-box;
            height: 100%;
            display: flex;
            align-items: center;
        }

        .heading-cell.atm-details-cell {
            background: #f1f1f1;
        }

        .atm-details-cell strong {
            display: block;
            margin-bottom: 5px;
            color: #333;
        }

        .p-datatable-thead>tr>th {
            border-color: var(--primary-color);
            border-style: solid;
            border-width: 0 0 2px 0;
            font-size: 16px;
        }

        button.p-ripple.p-button.p-component.p-button-info.p-button-raised {
            width: 14vw;
            font-size: 16px;
            height: 8vh;
            min-width: 175px;
        }

        .status-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 12px;
        }

        .status-item {
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 6px;
            background-color: #f1f1f1;
            display: flex;
            flex-direction: column;
        }

        .status-label {
            font-weight: bold;
            font-size: 13px;
            margin-bottom: 6px;
            color: #2c3e50;
        }

        .status-value {
            font-size: 13px;
            padding: 4px 6px;
            border-radius: 4px;
            width: fit-content;
        }

        .ok-status {
            background-color: #d8fcdb;
            color: #388e3c;
            border: 1px solid #ddd;
        }

        .error-status {
            background-color: #ffd7dd;
            color: #c62828;
            border: 1px solid #ddd;
        }


        @media (max-width: 600px) {
            .status-grid {
                grid-template-columns: 1fr;
            }
        }


        @media (max-width: 768px) {
            .status-legend {
                grid-template-columns: repeat(2, 1fr);
            }

            .atm-details-grid {
                grid-template-columns: 1fr;
            }
        }

        @media (max-width: 480px) {
            .status-legend {
                grid-template-columns: 1fr;
            }
        }

    }
}